<!DOCTYPE html>
<html lang="en">
	<link rel="stylesheet" href="https://cdn.plyr.io/3.6.2/plyr.css" />
{% include "base/head.html" %}
<body class="">
	<button id="openModal" data-toggle="modal" data-target="#myModal" hidden="true"></button>
	<button data-toggle="modal" id="openAudioModal" data-target="#audioModal" hidden="true"></button>
	<div class="wrapper ">
		{% include "base/sidebar.html" %}
		<div class="main-panel">
			<!-- Navbar -->
			{% include "base/navbar.html" %}
			<!-- End Navbar -->
			<div class="content">
				<div class="content">
					<div class="container-fluid">
						{% if associated_exercises %}
						<div class="row mx-5" style="border-radius: 15px; color:white; background-color: #4caf50;">
							<div class="px-5 py-4">
								<p>Com base na sua performance, seu corretor recomendou os seguintes exercícios: <br>
									<ul>
										{% for exercise in associated_exercises %}
										<li><i><small><a href="/exercises/{{exercise.id}}" style="color: white;">{{exercise.title}}</small></a></i></li>
										{% endfor %}
									</ul>
									Você pode acessá-los clicando em seus links acima, ou no menu de exercícios.
								</p>
							</div>
						</div>
						{% endif %}
						<div class="row">
							<div class="col-md-12">
								<h3 style="text-align: center; color:#aa1100" id="nullified" hidden="true";>Atenção: redação seria anulada no ENEM!</h3 style="text-align: center;">
								<h4 style="text-align: center; color:#aa1100" id="nullified-reason"></h4 style="text-align: center;">
								<div class="card card-chart">
									<div class="card-body">
										<h3 class="card-title">Redação #{{essay.id}}</h3>
										<h5 class="card-title">Aluno: {{essay.user}}</h5>
										<h4 class="card-title">Data de submissão: {{essay.upload_date}}</h4>
										<h4 class="card-title">Nota final: {{essay.grade}}</h4>
									</div>
									<div class="card-footer">
										<i><img id="src" src="../../{{essay.file}}" width="100%"/></i>
									</div>
									<canvas id="canvas" class="src" style="cursor: default;"></canvas>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6">
								<div class="card has-info card-chart">
									<div class="card-body">
										<h3 class="card-title text-center">Competência 1</h3>
										<br>
										<div class="container">
											<div class="row">
												<div class="col-sm form-check">
													<label class="form-check-label">
														<input class="form-check-input" value="option1" type="radio" name="inlineRadioOptions" id="inlineRadioOptions1-200" disabled> 200
														<span class="circle">
															<span class="check"></span>
														</span>
													</label>
												</div>
												<div class="col-sm form-check">
													<label class="form-check-label">
														<input class="form-check-input" value="option2" type="radio" name="inlineRadioOptions" id="inlineRadioOptions1-160" disabled> 160
														<span class="circle">
															<span class="check"></span>
														</span>
													</label>
												</div>
												<div class="col-sm form-check">
													<label class="form-check-label">
														<input class="form-check-input" value="option3" type="radio" name="inlineRadioOptions" id="inlineRadioOptions1-120" disabled> 120
														<span class="circle">
															<span class="check"></span>
														</span>
													</label>
												</div>
												<div class="col-sm form-check">
													<label class="form-check-label">
														<input class="form-check-input" value="option4" type="radio" name="inlineRadioOptions" id="inlineRadioOptions1-80" disabled> 80
														<span class="circle">
															<span class="check"></span>
														</span>
													</label>
												</div>
												<div class="col-sm form-check">
													<label class="form-check-label">
														<input class="form-check-input" value="option5" type="radio" name="inlineRadioOptions" id="inlineRadioOptions1-40" disabled> 40
														<span class="circle">
															<span class="check"></span>
														</span>
													</label>
												</div>
											</div>
										</div>
									</div>
									<div class="card-footer">
										<div class="container">
											<div class="row">
												<div class="col-sm form-check">
													<div class="form-group">
														<label for="formTextareac1"></label>
														<textarea class="form-control" id="formTextareac0" hidden="true"></textarea>
														<textarea class="form-control" id="formTextareac1" rows="5" disabled style="cursor: default !important;"></textarea>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="card has-info card-chart">
									<div class="card-body">
										<h3 class="card-title text-center">Competência 2</h3>
										<br>
										<div class="container">
											<div class="row">
												<div class="col-sm form-check">
													<label class="form-check-label">
														<input class="form-check-input" value="option1" type="radio" id="inlineRadioOptions2-200" name="inlineRadioOptions2" disabled> 200
														<span class="circle">
															<span class="check"></span>
														</span>
													</label>
												</div>
												<div class="col-sm form-check">
													<label class="form-check-label">
														<input class="form-check-input" value="option2" type="radio" id="inlineRadioOptions2-160" name="inlineRadioOptions2" disabled> 160
														<span class="circle">
															<span class="check"></span>
														</span>
													</label>
												</div>
												<div class="col-sm form-check">
													<label class="form-check-label">
														<input class="form-check-input" value="option3" type="radio" id="inlineRadioOptions2-120" name="inlineRadioOptions2" disabled> 120
														<span class="circle">
															<span class="check"></span>
														</span>
													</label>
												</div>
												<div class="col-sm form-check">
													<label class="form-check-label">
														<input class="form-check-input" value="option4" type="radio" id="inlineRadioOptions2-80" name="inlineRadioOptions2" disabled> 80
														<span class="circle">
															<span class="check"></span>
														</span>
													</label>
												</div>
												<div class="col-sm form-check">
													<label class="form-check-label">
														<input class="form-check-input" value="option5" type="radio" id="inlineRadioOptions2-40" name="inlineRadioOptions2" disabled> 40
														<span class="circle">
															<span class="check"></span>
														</span>
													</label>
												</div>
												<div class="col-sm form-check">
													<label class="form-check-label">
														<input class="form-check-input" value="option6" type="radio" id="inlineRadioOptions2-0" name="inlineRadioOptions2" disabled> 0
														<span class="circle">
															<span class="check"></span>
														</span>
													</label>
												</div>
											</div>
										</div>
									</div>
									<div class="card-footer">
										<div class="container">
											<div class="row">
												<div class="col-sm form-check">
													<div class="form-group">
														<label for="formTextareac2"></label>
														<textarea class="form-control" id="formTextareac2" rows="5" disabled style="cursor: default !important;"></textarea>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6">
								<div class="card has-info card-chart">
									<div class="card-body">
										<h3 class="card-title text-center">Competência 3</h3>
										<br>
										<div class="container">
											<div class="row">
												<div class="col-sm form-check">
													<label class="form-check-label">
														<input class="form-check-input" value="option1" type="radio" id="inlineRadioOptions3-200" name="inlineRadioOptions3" disabled> 200
														<span class="circle">
															<span class="check"></span>
														</span>
													</label>
												</div>
												<div class="col-sm form-check">
													<label class="form-check-label">
														<input class="form-check-input" value="option2" type="radio" id="inlineRadioOptions3-160" name="inlineRadioOptions3" disabled> 160
														<span class="circle">
															<span class="check"></span>
														</span>
													</label>
												</div>
												<div class="col-sm form-check">
													<label class="form-check-label">
														<input class="form-check-input" value="option3" type="radio" id="inlineRadioOptions3-120" name="inlineRadioOptions3" disabled> 120
														<span class="circle">
															<span class="check"></span>
														</span>
													</label>
												</div>
												<div class="col-sm form-check">
													<label class="form-check-label">
														<input class="form-check-input" value="option4" type="radio" id="inlineRadioOptions3-80" name="inlineRadioOptions3" disabled> 80
														<span class="circle">
															<span class="check"></span>
														</span>
													</label>
												</div>
												<div class="col-sm form-check">
													<label class="form-check-label">
														<input class="form-check-input" value="option5" type="radio" id="inlineRadioOptions3-40" name="inlineRadioOptions3" disabled> 40
														<span class="circle">
															<span class="check"></span>
														</span>
													</label>
												</div>
											</div>
										</div>
									</div>
									<div class="card-footer">
										<div class="container">
											<div class="row">
												<div class="col-sm form-check">
													<div class="form-group">
														<label for="formTextareac3"></label>
														<textarea class="form-control" id="formTextareac3" rows="5" disabled style="cursor: default !important;"></textarea>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="card has-info card-chart">
									<div class="card-body">
										<h3 class="card-title text-center">Competência 4</h3>
										<br>
										<div class="container">
											<div class="row">
												<div class="col-sm form-check">
													<label class="form-check-label">
														<input class="form-check-input" value="option1" type="radio" id="inlineRadioOptions4-200" name="inlineRadioOptions4" checked="true" disabled> 200
														<span class="circle">
															<span class="check"></span>
														</span>
													</label>
												</div>
												<div class="col-sm form-check">
													<label class="form-check-label">
														<input class="form-check-input" value="option2" type="radio" id="inlineRadioOptions4-160" name="inlineRadioOptions4" disabled> 160
														<span class="circle">
															<span class="check"></span>
														</span>
													</label>
												</div>
												<div class="col-sm form-check">
													<label class="form-check-label">
														<input class="form-check-input" value="option3" type="radio" id="inlineRadioOptions4-120" name="inlineRadioOptions4" disabled> 120
														<span class="circle">
															<span class="check"></span>
														</span>
													</label>
												</div>
												<div class="col-sm form-check">
													<label class="form-check-label">
														<input class="form-check-input" value="option4" type="radio" id="inlineRadioOptions4-80" name="inlineRadioOptions4" disabled> 80
														<span class="circle">
															<span class="check"></span>
														</span>
													</label>
												</div>
												<div class="col-sm form-check">
													<label class="form-check-label">
														<input class="form-check-input" value="option5" type="radio" id="inlineRadioOptions4-40" name="inlineRadioOptions4" disabled> 40
														<span class="circle">
															<span class="check"></span>
														</span>
													</label>
												</div>
												<div class="col-sm form-check">
												</div>
											</div>
										</div>
									</div>
									<div class="card-footer">
										<div class="container">
											<div class="row">
												<div class="col-sm form-check">
													<div class="form-group">
														<label for="formTextareac4"></label>
														<textarea class="form-control" id="formTextareac4" rows="5" disabled style="cursor: default !important;"></textarea>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<div class="card has-info card-chart">
									<div class="card-body">
										<h3 class="card-title text-center">Competência 5</h3>
										<br>
										<div class="container">
											<div class="row">
												<div class="col-sm form-check">
													<label class="form-check-label">
														<input class="form-check-input" value="option1" type="radio" id="inlineRadioOptions5-200" name="inlineRadioOptions5" checked="true" disabled> 200
														<span class="circle">
															<span class="check"></span>
														</span>
													</label>
												</div>
												<div class="col-sm form-check">
													<label class="form-check-label">
														<input class="form-check-input" value="option2" type="radio" id="inlineRadioOptions5-160" name="inlineRadioOptions5" disabled> 160
														<span class="circle">
															<span class="check"></span>
														</span>
													</label>
												</div>
												<div class="col-sm form-check">
													<label class="form-check-label">
														<input class="form-check-input" value="option3" type="radio" id="inlineRadioOptions5-120" name="inlineRadioOptions5" disabled> 120
														<span class="circle">
															<span class="check"></span>
														</span>
													</label>
												</div>
												<div class="col-sm form-check">
													<label class="form-check-label">
														<input class="form-check-input" value="option4" type="radio" id="inlineRadioOptions5-80" name="inlineRadioOptions5" disabled> 80
														<span class="circle">
															<span class="check"></span>
														</span>
													</label>
												</div>
												<div class="col-sm form-check">
													<label class="form-check-label">
														<input class="form-check-input" value="option5" type="radio" id="inlineRadioOptions5-40" name="inlineRadioOptions5" disabled> 40
														<span class="circle">
															<span class="check"></span>
														</span>
													</label>
												</div>
												<div class="col-sm form-check">
													<label class="form-check-label">
														<input class="form-check-input" value="option6" type="radio" id="inlineRadioOptions5-0" name="inlineRadioOptions5" disabled> 0
														<span class="circle">
															<span class="check"></span>
														</span>
													</label>
												</div>
											</div>
										</div>
									</div>
									<div class="card-footer">
										<div class="container">
											<div class="row">
												<div class="col-sm form-check">
													<div class="form-group">
														<label for="formTextareac5"></label>
														<textarea class="form-control" id="formTextareac5" rows="5" disabled style="cursor: default !important;"></textarea>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				
				<div class="modal has-info show" id="myModal" role="dialog" aria-labelledby="myModal" style="display: none;" aria-hidden="true">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<h4 class="modal-title">Comentários</h4>
								<button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
							<div class="modal-body">
									<div class="col-sm form-check">
										<div class="form-group">
											<textarea class="form-control" id="comment-text" rows="5" disabled style="cursor: default !important; text-align: center;"></textarea>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

          <div class="modal has-info show" id="audioModal" role="dialog" aria-labelledby="audioModal" style="display: none;" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-body">
                  <div class="container cc-center">
                    <div class="video-container">
                      <div class="w-embed">
                        <audio id="recordedAudio" class="js-player" hidden="true">
                          <source/>
                        </audio>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
			<footer class="footer">
				<div class="container-fluid">
					<div class="copyright float-right">
						Copyright &copy; PPA Digital
						<script>
							document.write(new Date().getFullYear())
						</script>
					</div>
				</div>
			</footer>
		</div>
	</div>
	<script src="/static/essay_manager/js/redactor-student.js?{% now 'U' %}"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/core-js/2.4.1/core.js"></script>
	<script src="/static/essay_manager/js/plugins/bootstrap-notify.js"></script>
	<script type="text/javascript">
		$('.w-dropdown').hover(function(evt)
		{
		evt.preventDefault();
		
		var openClass = 'w--open';
		var $view = $(this);
		if (evt.type == 'mouseenter')
		
		{ $view.find('.w-dropdown-toggle').addClass(openClass); $view.find('.w-dropdown-list').addClass(openClass); }
		else if (evt.type == 'mouseleave')
		
		{ $view.find('.w-dropdown-toggle').removeClass(openClass); $view.find('.w-dropdown-list').removeClass(openClass); }
		});
	 </script><script src="https://cdn.plyr.io/3.5.6/plyr.js"></script>
	 <script>
		document.addEventListener('DOMContentLoaded', () => {
			const player = Plyr.setup('.js-player', {
				'invertTime': false,
			});
		});
	 </script>
	<script>
		$(document).ready(function() {
			$().ready(function() {
				setUsername('{{username}}');
				{% if data %}
					importCorrectionData({{data}});
				{% else %}
					md.showNotification('top', 'center', 'Essa redação ainda não foi corrigida!', 'warning');
				{% endif %}
			});
		});
	</script>
</body>

</html>
