<!DOCTYPE html>
<html lang="en">
	<link rel="stylesheet" href="https://cdn.plyr.io/3.6.2/plyr.css" />
{% include "base/head.html" %}
<body class="">
	<button id="openModal" data-toggle="modal" data-target="#myModal" hidden="true"></button>
	<button data-toggle="modal" id="openAudioModal" data-target="#audioModal" hidden="true"></button>
	<div class="wrapper ">
		{% include "base/sidebar.html" %}
		<div class="main-panel">
			<!-- Navbar -->
			{% include "base/navbar.html" %}
			<!-- End Navbar -->
			<div class="content">
				<div class="content">
					<div class="container-fluid">
						{% if associated_exercises %}
						<div class="row mx-5" style="border-radius: 15px; color:white; background-color: #4caf50;">
							<div class="px-5 py-4">
								<p>Com base na sua performance, seu corretor recomendou os seguintes exercícios: <br>
									<ul>
										{% for exercise in associated_exercises %}
										<li><i><small><a href="/exercises/{{exercise.id}}" style="color: white;">{{exercise.title}}</small></a></i></li>
										{% endfor %}
									</ul>
									Você pode acessá-los clicando em seus links acima, ou no menu de exercícios.
								</p>
							</div>
						</div>
						{% endif %}
						<div class="row">
							<div class="col-md-12">
								<h3 style="text-align: center; color:#aa1100" id="nullified" hidden="true";>Atenção: redação seria anulada no ENEM!</h3 style="text-align: center;">
								<h4 style="text-align: center; color:#aa1100" id="nullified-reason"></h4 style="text-align: center;">
								<div class="card card-chart">
									<div class="card-body">
										<h3 class="card-title">Redação #{{essay.id}}</h3>
										<h5 class="card-title">Aluno: {{essay.user}}</h5>
										<h4 class="card-title">Data de submissão: {{essay.upload_date}}</h4>
										<h4 class="card-title">Nota final: {{essay.grade}}</h4>
									</div>
									<div class="card-footer">
										<i><img id="src" src="../../{{essay.file}}" width="100%"/></i>
									</div>
									<canvas id="canvas" class="src" style="cursor: default;"></canvas>
								</div>
							</div>
						</div>
						<br>
						
						
						<div class="row">
							<div class="col-md-12">
							  <div class="card has-info card-chart">
								<div class="card-body">
								  <h3 class="card-title text-center">Critério A - Tema</h3>
								  <br>
								  <div class="container">
									<div class="row">
									  <div class="col-sm form-check">
										<label class="form-check-label">
										  <input class="form-check-input" value="option3" disabled type="radio" name="inlineRadioOptions" id="inlineRadioOptionsca-3" checked="true"> 3
										  <span class="circle">
											<span class="check"></span>
										  </span>
										</label>
									  </div>
									  <div class="col-sm form-check">
										<label class="form-check-label">
										  <input class="form-check-input" value="option2" disabled type="radio" name="inlineRadioOptions" id="inlineRadioOptionsca-2"> 2
										  <span class="circle">
											<span class="check"></span>
										  </span>
										</label>
									  </div>
									  <div class="col-sm form-check">
										<label class="form-check-label">
										  <input class="form-check-input" value="option1" disabled type="radio" name="inlineRadioOptions" id="inlineRadioOptionsca-1"> 1
										  <span class="circle">
											<span class="check"></span>
										  </span>
										</label>
									  </div>
									  <div class="col-sm form-check">
										<label class="form-check-label">
										  <input class="form-check-input" value="option0" disabled type="radio" name="inlineRadioOptions" id="inlineRadioOptionsca-0"> 0
										  <span class="circle">
											<span class="check"></span>
										  </span>
										</label>
									  </div>
									</div>
								  </div>
								</div>
								<div class="card-footer">
								  <div class="container">
									<div class="row">
									  <div class="col-sm form-check">
										<div class="form-group">
										  <label for="formTextareaca">Comentários técnicos</label>
										  <textarea class="form-control" id="formTextareaca" rows="5" style="width:90% !important;" onchange="updateTextfield('formTextareaca', 'ca')"></textarea>
										</div>
									  </div>
									</div>
								  </div>
								</div>
							  </div>
							</div>
						  </div>
						  <div class="row">
							<div class="col-md-12">
							  <div class="card has-info card-chart">
								<div class="card-body">
								  <h3 class="card-title text-center">Critério B - gênero/tipo de texto e coerência</h3>
								  <br>
								  <div class="container">
									<div class="row">
									  <div class="col-sm form-check">
										<label class="form-check-label">
										  <input class="form-check-input" value="option4" disabled type="radio" name="inlineRadioOptions2" id="inlineRadioOptionscb-4" checked> 4
										  <span class="circle">
											<span class="check"></span>
										  </span>
										</label>
									  </div>
									  <div class="col-sm form-check">
										<label class="form-check-label">
										  <input class="form-check-input" value="option3" disabled type="radio" name="inlineRadioOptions2" id="inlineRadioOptionscb-3"> 3
										  <span class="circle">
											<span class="check"></span>
										  </span>
										</label>
									  </div>
									  <div class="col-sm form-check">
										<label class="form-check-label">
										  <input class="form-check-input" value="option2" disabled type="radio" name="inlineRadioOptions2" id="inlineRadioOptionscb-2"> 2
										  <span class="circle">
											<span class="check"></span>
										  </span>
										</label>
									  </div>
									  <div class="col-sm form-check">
										<label class="form-check-label">
										  <input class="form-check-input" value="option1" disabled type="radio" name="inlineRadioOptions2" id="inlineRadioOptionscb-1"> 1
										  <span class="circle">
											<span class="check"></span>
										  </span>
										</label>
									  </div>
									  <div class="col-sm form-check">
										<label class="form-check-label">
										  <input class="form-check-input" value="option0" disabled type="radio" name="inlineRadioOptions2" id="inlineRadioOptionscb-0"> 0
										  <span class="circle">
											<span class="check"></span>
										  </span>
										</label>
									  </div>
									</div>
								  </div>
								</div>
								<div class="card-footer">
								  <div class="container">
									<div class="row">
									  <div class="col-sm form-check">
										<div class="form-group">
										  <label for="formTextareacb">Comentários técnicos</label>
										  <textarea class="form-control" id="formTextareacb" rows="5" style="width:90% !important;" onchange="updateTextfield('formTextareacb', 'cb')"></textarea>
										</div>
									  </div>
									</div>
								  </div>
								</div>
							  </div>
							</div>
						  </div>
						  <div class="row">
							<div class="col-md-12">
							  <div class="card has-info card-chart">
								<div class="card-body">
								  <h3 class="card-title text-center">Critério C - elementos linguísticos</h3>
								  <br>
								  <div class="container">
									<div class="row">
									  <div class="col-sm form-check">
										<label class="form-check-label">
										  <input class="form-check-input" value="option4" disabled type="radio" name="inlineRadioOptions3" id="inlineRadioOptionscc-4" checked> 4
										  <span class="circle">
											<span class="check"></span>
										  </span>
										</label>
									  </div>
									  <div class="col-sm form-check">
										<label class="form-check-label">
										  <input class="form-check-input" value="option3" disabled type="radio" name="inlineRadioOptions3" id="inlineRadioOptionscc-3"> 3
										  <span class="circle">
											<span class="check"></span>
										  </span>
										</label>
									  </div>
									  <div class="col-sm form-check">
										<label class="form-check-label">
										  <input class="form-check-input" value="option2" disabled type="radio" name="inlineRadioOptions3" id="inlineRadioOptionscc-2"> 2
										  <span class="circle">
											<span class="check"></span>
										  </span>
										</label>
									  </div>
									  <div class="col-sm form-check">
										<label class="form-check-label">
										  <input class="form-check-input" value="option1" disabled type="radio" name="inlineRadioOptions3" id="inlineRadioOptionscc-1"> 1
										  <span class="circle">
											<span class="check"></span>
										  </span>
										</label>
									  </div>
									  <div class="col-sm form-check">
										<label class="form-check-label">
										  <input class="form-check-input" value="option0" disabled type="radio" name="inlineRadioOptions3" id="inlineRadioOptionscc-0"> 0
										  <span class="circle">
											<span class="check"></span>
										  </span>
										</label>
									  </div>
									</div>
								  </div>
								</div>
								<div class="card-footer">
								  <div class="container">
									<div class="row">
									  <div class="col-sm form-check">
										<div class="form-group">
										  <label for="formTextareacc">Comentários técnicos</label>
										  <textarea class="form-control" id="formTextareacc" rows="5" style="width:90% !important;" onchange="updateTextfield('formTextareacc', 'cc')"></textarea>
										</div>
									  </div>
									</div>
								  </div>
								</div>
							  </div>
							</div>
						  </div>
					</div>
				</div>
				
				<div class="modal has-info show" id="myModal" role="dialog" aria-labelledby="myModal" style="display: none;" aria-hidden="true">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<h4 class="modal-title">Comentários</h4>
								<button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
							<div class="modal-body">
									<div class="col-sm form-check">
										<div class="form-group">
											<textarea class="form-control" id="comment-text" rows="5" disabled style="cursor: default !important; text-align: center;"></textarea>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

          <div class="modal has-info show" id="audioModal" role="dialog" aria-labelledby="audioModal" style="display: none;" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-body">
                  <div class="container cc-center">
                    <div class="video-container">
                      <div class="w-embed">
                        <audio id="recordedAudio" class="js-player" hidden="true">
                          <source/>
                        </audio>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
			<footer class="footer">
				<div class="container-fluid">
					<div class="copyright float-right">
						Copyright &copy; PPA Digital
						<script>
							document.write(new Date().getFullYear())
						</script>
					</div>
				</div>
			</footer>
		</div>
	</div>
	<script src="/static/essay_manager/js/redactor-student-vunesp.js?{% now 'U' %}"></script>
	<script src="/static/essay_manager/js/plugins/nouislider.min.js"></script>
	<script src="/static/essay_manager/js/plugins/bootstrap-notify.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/core-js/2.4.1/core.js"></script>
	<script>
		$(document).ready(function() {
		  noUiSlider.create(document.getElementById('slider-grafia'), {
			start: 0,
			step: 1,
			connect: [true, false],

			orientation: 'horizontal',
			behaviour: 'tap-drag',
			tooltips: true,
			range: {
			  min: 0,
			  max: 15
			},
			format: {
			  to: function ( value ) {
				return Math.round(value);
			  },
			  from: function ( value ) {
				return Math.round(value);
			  }
			},
		  });
		  document.getElementById('slider-grafia').setAttribute('disabled', true);
		  noUiSlider.create(document.getElementById('slider-morfo'), {
			start: 0,
			step: 1,
			connect: [true, false],

			orientation: 'horizontal',
			behaviour: 'tap-drag',
			tooltips: true,
			range: {
			  min: 0,
			  max: 15
			},
			format: {
			  to: function ( value ) {
				return Math.round(value);
			  },
			  from: function ( value ) {
				return Math.round(value);
			  }
			}
		  });
		  document.getElementById('slider-morfo').setAttribute('disabled', true);
		  noUiSlider.create(document.getElementById('slider-vocab'), {
			start: 0,
			step: 1,
			connect: [true, false],

			orientation: 'horizontal',
			behaviour: 'tap-drag',
			tooltips: true,
			range: {
			  min: 0,
			  max: 15
			},
			format: {
			  to: function ( value ) {
				return Math.round(value);
			  },
			  from: function ( value ) {
				return Math.round(value);
			  }
			}
		  });
		  document.getElementById('slider-vocab').setAttribute('disabled', true);
		  noUiSlider.create(document.getElementById('slider-projeto'), {
			start: 0,
			step: 1,
			connect: [true, false],

			orientation: 'horizontal',
			behaviour: 'tap-drag',
			tooltips: true,
			range: {
			  min: 0,
			  max: 15
			},
			format: {
			  to: function ( value ) {
				return Math.round(value);
			  },
			  from: function ( value ) {
				return Math.round(value);
			  }
			}
		  });
		  document.getElementById('slider-projeto').setAttribute('disabled', true);
		  noUiSlider.create(document.getElementById('slider-dev'), {
			start: 0,
			step: 1,
			connect: [true, false],

			orientation: 'horizontal',
			behaviour: 'tap-drag',
			tooltips: true,
			range: {
			  min: 0,
			  max: 15
			},
			format: {
			  to: function ( value ) {
				return Math.round(value);
			  },
			  from: function ( value ) {
				return Math.round(value);
			  }
			}
		  });
		  document.getElementById('slider-dev').setAttribute('disabled', true);
		  noUiSlider.create(document.getElementById('slider-sintese'), {
			start: 0,
			step: 1,
			connect: [true, false],

			orientation: 'horizontal',
			behaviour: 'tap-drag',
			tooltips: true,
			range: {
			  min: 0,
			  max: 15
			},
			format: {
			  to: function ( value ) {
				return Math.round(value);
			  },
			  from: function ( value ) {
				return Math.round(value);
			  }
			}
		  });
		  document.getElementById('slider-sintese').setAttribute('disabled', true);
		});
	  </script>
	<script type="text/javascript">
		$('.w-dropdown').hover(function(evt)
		{
		evt.preventDefault();
		
		var openClass = 'w--open';
		var $view = $(this);
		if (evt.type == 'mouseenter')
		
		{ $view.find('.w-dropdown-toggle').addClass(openClass); $view.find('.w-dropdown-list').addClass(openClass); }
		else if (evt.type == 'mouseleave')
		
		{ $view.find('.w-dropdown-toggle').removeClass(openClass); $view.find('.w-dropdown-list').removeClass(openClass); }
		});
	 </script><script src="https://cdn.plyr.io/3.5.6/plyr.js"></script>
	 <script>
		document.addEventListener('DOMContentLoaded', () => {
			const player = Plyr.setup('.js-player', {
				'invertTime': false,
			});
		});
	 </script>
	<script>
		$(document).ready(function() {
			$().ready(function() {
				setUsername('{{username}}');
				{% if data %}
					importCorrectionData({{data}});
				{% else %}
					md.showNotification('top', 'center', 'Essa redação ainda não foi corrigida!', 'warning');
				{% endif %}
			});
		});
	</script>
</body>

</html>
