<!DOCTYPE html>
<html lang="en">
{% include "head.html" %}
<body class="">
	<button id="openModal" data-toggle="modal" data-target="#myModal" hidden="true"></button>
	<div class="wrapper ">
		{% include "sidebar.html" %}
		<div class="main-panel">
			<!-- Navbar -->
			{% include "navbar.html" %}
			<!-- End Navbar -->
			<div class="content">
				<div class="content">
					<div class="container-fluid">
						<div class="row">
							<div class="col-md-12">
								<div class="card card-chart">
									<div class="card-body">
										<h3 class="card-title">Redação #{{id}}</h3>
										<h5 class="card-title">Aluno: {{essay.user}}</h5>
										<h4 class="card-title">Data de submissão: {{essay.upload_date}}</h4>
										<h4 class="card-title">Nota final: {{essay.grade}}</h4>
									</div>
									<div class="card-footer">
										<i><img id="src" src="../../{{essay.file}}" width="100%"/></i>
									</div>
									<canvas id="canvas" class="src" style="cursor: default;"></canvas>
								</div>
							</div>
						</div>
						<br>
						<div class="row">
							<div class="col-md-6">
								<div class="card has-info card-chart">
									<div class="card-body">
										<h3 class="card-title text-center">Competência 1</h3>
										<br>
										<div class="container">
											<div class="row">
												<div class="col-sm form-check">
													<label class="form-check-label">
														<input class="form-check-input" value="option1" type="radio" name="inlineRadioOptions" id="inlineRadioOptions1-200" disabled> 200
														<span class="circle">
															<span class="check"></span>
														</span>
													</label>
												</div>
												<div class="col-sm form-check">
													<label class="form-check-label">
														<input class="form-check-input" value="option2" type="radio" name="inlineRadioOptions" id="inlineRadioOptions1-160" disabled> 160
														<span class="circle">
															<span class="check"></span>
														</span>
													</label>
												</div>
												<div class="col-sm form-check">
													<label class="form-check-label">
														<input class="form-check-input" value="option3" type="radio" name="inlineRadioOptions" id="inlineRadioOptions1-120" disabled> 120
														<span class="circle">
															<span class="check"></span>
														</span>
													</label>
												</div>
												<div class="col-sm form-check">
													<label class="form-check-label">
														<input class="form-check-input" value="option4" type="radio" name="inlineRadioOptions" id="inlineRadioOptions1-80" disabled> 80
														<span class="circle">
															<span class="check"></span>
														</span>
													</label>
												</div>
												<div class="col-sm form-check">
													<label class="form-check-label">
														<input class="form-check-input" value="option5" type="radio" name="inlineRadioOptions" id="inlineRadioOptions1-40" disabled> 40
														<span class="circle">
															<span class="check"></span>
														</span>
													</label>
												</div>
											</div>
										</div>
									</div>
									<div class="card-footer">
										<div class="container">
											<div class="row">
												<div class="col-sm form-check">
													<div class="form-group">
														<label for="formTextareac1"></label>
														<textarea class="form-control" id="formTextareac0" hidden="true"></textarea>
														<textarea class="form-control" id="formTextareac1" rows="5" disabled style="cursor: default !important;"></textarea>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="card has-info card-chart">
									<div class="card-body">
										<h3 class="card-title text-center">Competência 2</h3>
										<br>
										<div class="container">
											<div class="row">
												<div class="col-sm form-check">
													<label class="form-check-label">
														<input class="form-check-input" value="option1" type="radio" id="inlineRadioOptions2-200" name="inlineRadioOptions2" disabled> 200
														<span class="circle">
															<span class="check"></span>
														</span>
													</label>
												</div>
												<div class="col-sm form-check">
													<label class="form-check-label">
														<input class="form-check-input" value="option2" type="radio" id="inlineRadioOptions2-160" name="inlineRadioOptions2" disabled> 160
														<span class="circle">
															<span class="check"></span>
														</span>
													</label>
												</div>
												<div class="col-sm form-check">
													<label class="form-check-label">
														<input class="form-check-input" value="option3" type="radio" id="inlineRadioOptions2-120" name="inlineRadioOptions2" disabled> 120
														<span class="circle">
															<span class="check"></span>
														</span>
													</label>
												</div>
												<div class="col-sm form-check">
													<label class="form-check-label">
														<input class="form-check-input" value="option4" type="radio" id="inlineRadioOptions2-80" name="inlineRadioOptions2" disabled> 80
														<span class="circle">
															<span class="check"></span>
														</span>
													</label>
												</div>
												<div class="col-sm form-check">
													<label class="form-check-label">
														<input class="form-check-input" value="option5" type="radio" id="inlineRadioOptions2-40" name="inlineRadioOptions2" disabled> 40
														<span class="circle">
															<span class="check"></span>
														</span>
													</label>
												</div>
												<div class="col-sm form-check">
													<label class="form-check-label">
														<input class="form-check-input" value="option6" type="radio" id="inlineRadioOptions2-0" name="inlineRadioOptions2" disabled> 0
														<span class="circle">
															<span class="check"></span>
														</span>
													</label>
												</div>
											</div>
										</div>
									</div>
									<div class="card-footer">
										<div class="container">
											<div class="row">
												<div class="col-sm form-check">
													<div class="form-group">
														<label for="formTextareac2"></label>
														<textarea class="form-control" id="formTextareac2" rows="5" disabled style="cursor: default !important;"></textarea>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6">
								<div class="card has-info card-chart">
									<div class="card-body">
										<h3 class="card-title text-center">Competência 3</h3>
										<br>
										<div class="container">
											<div class="row">
												<div class="col-sm form-check">
													<label class="form-check-label">
														<input class="form-check-input" value="option1" type="radio" id="inlineRadioOptions3-200" name="inlineRadioOptions3" disabled> 200
														<span class="circle">
															<span class="check"></span>
														</span>
													</label>
												</div>
												<div class="col-sm form-check">
													<label class="form-check-label">
														<input class="form-check-input" value="option2" type="radio" id="inlineRadioOptions3-160" name="inlineRadioOptions3" disabled> 160
														<span class="circle">
															<span class="check"></span>
														</span>
													</label>
												</div>
												<div class="col-sm form-check">
													<label class="form-check-label">
														<input class="form-check-input" value="option3" type="radio" id="inlineRadioOptions3-120" name="inlineRadioOptions3" disabled> 120
														<span class="circle">
															<span class="check"></span>
														</span>
													</label>
												</div>
												<div class="col-sm form-check">
													<label class="form-check-label">
														<input class="form-check-input" value="option4" type="radio" id="inlineRadioOptions3-80" name="inlineRadioOptions3" disabled> 80
														<span class="circle">
															<span class="check"></span>
														</span>
													</label>
												</div>
												<div class="col-sm form-check">
													<label class="form-check-label">
														<input class="form-check-input" value="option5" type="radio" id="inlineRadioOptions3-40" name="inlineRadioOptions3" disabled> 40
														<span class="circle">
															<span class="check"></span>
														</span>
													</label>
												</div>
											</div>
										</div>
									</div>
									<div class="card-footer">
										<div class="container">
											<div class="row">
												<div class="col-sm form-check">
													<div class="form-group">
														<label for="formTextareac3"></label>
														<textarea class="form-control" id="formTextareac3" rows="5" disabled style="cursor: default !important;"></textarea>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="card has-info card-chart">
									<div class="card-body">
										<h3 class="card-title text-center">Competência 4</h3>
										<br>
										<div class="container">
											<div class="row">
												<div class="col-sm form-check">
													<label class="form-check-label">
														<input class="form-check-input" value="option1" type="radio" id="inlineRadioOptions4-200" name="inlineRadioOptions4" checked="true" disabled> 200
														<span class="circle">
															<span class="check"></span>
														</span>
													</label>
												</div>
												<div class="col-sm form-check">
													<label class="form-check-label">
														<input class="form-check-input" value="option2" type="radio" id="inlineRadioOptions4-160" name="inlineRadioOptions4" disabled> 160
														<span class="circle">
															<span class="check"></span>
														</span>
													</label>
												</div>
												<div class="col-sm form-check">
													<label class="form-check-label">
														<input class="form-check-input" value="option3" type="radio" id="inlineRadioOptions4-120" name="inlineRadioOptions4" disabled> 120
														<span class="circle">
															<span class="check"></span>
														</span>
													</label>
												</div>
												<div class="col-sm form-check">
													<label class="form-check-label">
														<input class="form-check-input" value="option4" type="radio" id="inlineRadioOptions4-80" name="inlineRadioOptions4" disabled> 80
														<span class="circle">
															<span class="check"></span>
														</span>
													</label>
												</div>
												<div class="col-sm form-check">
													<label class="form-check-label">
														<input class="form-check-input" value="option5" type="radio" id="inlineRadioOptions4-40" name="inlineRadioOptions4" disabled> 40
														<span class="circle">
															<span class="check"></span>
														</span>
													</label>
												</div>
												<div class="col-sm form-check">
												</div>
											</div>
										</div>
									</div>
									<div class="card-footer">
										<div class="container">
											<div class="row">
												<div class="col-sm form-check">
													<div class="form-group">
														<label for="formTextareac4"></label>
														<textarea class="form-control" id="formTextareac4" rows="5" disabled style="cursor: default !important;"></textarea>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<div class="card has-info card-chart">
									<div class="card-body">
										<h3 class="card-title text-center">Competência 5</h3>
										<br>
										<div class="container">
											<div class="row">
												<div class="col-sm form-check">
													<label class="form-check-label">
														<input class="form-check-input" value="option1" type="radio" id="inlineRadioOptions5-200" name="inlineRadioOptions5" checked="true" disabled> 200
														<span class="circle">
															<span class="check"></span>
														</span>
													</label>
												</div>
												<div class="col-sm form-check">
													<label class="form-check-label">
														<input class="form-check-input" value="option2" type="radio" id="inlineRadioOptions5-160" name="inlineRadioOptions5" disabled> 160
														<span class="circle">
															<span class="check"></span>
														</span>
													</label>
												</div>
												<div class="col-sm form-check">
													<label class="form-check-label">
														<input class="form-check-input" value="option3" type="radio" id="inlineRadioOptions5-120" name="inlineRadioOptions5" disabled> 120
														<span class="circle">
															<span class="check"></span>
														</span>
													</label>
												</div>
												<div class="col-sm form-check">
													<label class="form-check-label">
														<input class="form-check-input" value="option4" type="radio" id="inlineRadioOptions5-80" name="inlineRadioOptions5" disabled> 80
														<span class="circle">
															<span class="check"></span>
														</span>
													</label>
												</div>
												<div class="col-sm form-check">
													<label class="form-check-label">
														<input class="form-check-input" value="option5" type="radio" id="inlineRadioOptions5-40" name="inlineRadioOptions5" disabled> 40
														<span class="circle">
															<span class="check"></span>
														</span>
													</label>
												</div>
												<div class="col-sm form-check">
													<label class="form-check-label">
														<input class="form-check-input" value="option6" type="radio" id="inlineRadioOptions5-0" name="inlineRadioOptions5" disabled> 0
														<span class="circle">
															<span class="check"></span>
														</span>
													</label>
												</div>
											</div>
										</div>
									</div>
									<div class="card-footer">
										<div class="container">
											<div class="row">
												<div class="col-sm form-check">
													<div class="form-group">
														<label for="formTextareac5"></label>
														<textarea class="form-control" id="formTextareac5" rows="5" disabled style="cursor: default !important;"></textarea>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				
				<div class="modal has-info show" id="myModal" role="dialog" aria-labelledby="myModal" style="display: none;" aria-hidden="true">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<h4 class="modal-title">Comentários</h4>
								<button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
							<div class="modal-body">
									<div class="col-sm form-check">
										<div class="form-group">
											<textarea class="form-control" id="comment-text" rows="5" disabled style="cursor: default !important; text-align: center;"></textarea>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<footer class="footer">
				<div class="container-fluid">
					<div class="copyright float-right">
						Copyright &copy; PPA Digital
						<script>
							document.write(new Date().getFullYear())
						</script>
					</div>
				</div>
			</footer>
		</div>
	</div>
	<!--   Core JS Files   -->
	<script src="/static/essay_manager/js/core/jquery.min.js"></script>
	<script src="/static/essay_manager/js/core/popper.min.js"></script>
	<script src="/static/essay_manager/js/core/bootstrap-material-design.min.js"></script>
	<script src="/static/essay_manager/js/plugins/perfect-scrollbar.jquery.min.js"></script>
	<script src="/static/essay_manager/js/redactor-student.js?{% now 'U' %}"></script>
	<!-- Plugin for the momentJs  -->
	<script src="/static/essay_manager/js/plugins/moment.min.js"></script>
	<!--  Plugin for Sweet Alert -->
	<script src="/static/essay_manager/js/plugins/sweetalert2.js"></script>
	<!-- Forms Validations Plugin -->
	<script src="/static/essay_manager/js/plugins/jquery.validate.min.js"></script>
	<!-- Plugin for the Wizard, full documentation here: https://github.com/VinceG/twitter-bootstrap-wizard -->
	<script src="/static/essay_manager/js/plugins/jquery.bootstrap-wizard.js"></script>
	<!--	Plugin for Select, full documentation here: http://silviomoreto.github.io/bootstrap-select -->
	<script src="/static/essay_manager/js/plugins/bootstrap-selectpicker.js"></script>
	<!--  Plugin for the DateTimePicker, full documentation here: https://eonasdan.github.io/bootstrap-datetimepicker/ -->
	<script src="/static/essay_manager/js/plugins/bootstrap-datetimepicker.min.js"></script>
	<!--  DataTables.net Plugin, full documentation here: https://datatables.net/  -->
	<script src="/static/essay_manager/js/plugins/jquery.dataTables.min.js"></script>
	<!--	Plugin for Tags, full documentation here: https://github.com/bootstrap-tagsinput/bootstrap-tagsinputs  -->
	<script src="/static/essay_manager/js/plugins/bootstrap-tagsinput.js"></script>
	<!-- Plugin for Fileupload, full documentation here: http://www.jasny.net/bootstrap/javascript/#fileinput -->
	<script src="/static/essay_manager/js/plugins/jasny-bootstrap.min.js"></script>
	<!--  Full Calendar Plugin, full documentation here: https://github.com/fullcalendar/fullcalendar    -->
	<script src="/static/essay_manager/js/plugins/fullcalendar.min.js"></script>
	<!-- Vector Map plugin, full documentation here: http://jvectormap.com/documentation/ -->
	<script src="/static/essay_manager/js/plugins/jquery-jvectormap.js"></script>
	<!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
	<script src="/static/essay_manager/js/plugins/nouislider.min.js"></script>
	<!-- Include a polyfill for ES6 Promises (optional) for IE11, UC Browser and Android browser support SweetAlert -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/core-js/2.4.1/core.js"></script>
	<!-- Library for adding dinamically elements -->
	<script src="/static/essay_manager/js/plugins/arrive.min.js"></script>
	<!--  Google Maps Plugin    -->
	<script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>
	<!-- Chartist JS -->
	<script src="/static/essay_manager/js/plugins/chartist.min.js"></script>
	<!--  Notifications Plugin    -->
	<script src="/static/essay_manager/js/plugins/bootstrap-notify.js"></script>
	<!-- Control Center for Material Dashboard: parallax effects, scripts for the example pages etc -->
	<script src="/static/essay_manager/js/material-dashboard.js?v=2.1.2" type="text/javascript"></script>
	<!-- Material Dashboard DEMO methods, don't include it in your project! -->
	<script src="/static/essay_manager/demo/demo.js"></script>
	<script>
		$(document).ready(function() {
			$().ready(function() {
				setUsername('{{username}}');
				{% if data %}
					importCorrectionData({{data}});
				{% else %}
					md.showNotification('top', 'center', 'Essa redação ainda não foi corrigida!', 'warning');
				{% endif %}
				$sidebar = $('.sidebar');
				
				$sidebar_img_container = $sidebar.find('.sidebar-background');
				
				$full_page = $('.full-page');
				
				$sidebar_responsive = $('body > .navbar-collapse');
				
				window_width = $(window).width();
				
				fixed_plugin_open = $('.sidebar .sidebar-wrapper .nav li.active a p').html();
				
				if (window_width > 767 && fixed_plugin_open == 'Dashboard') {
					if ($('.fixed-plugin .dropdown').hasClass('show-dropdown')) {
						$('.fixed-plugin .dropdown').addClass('open');
					}
					
				}
				
				$('.fixed-plugin a').click(function(event) {
					// Alex if we click on switch, stop propagation of the event, so the dropdown will not be hide, otherwise we set the  section active
					if ($(this).hasClass('switch-trigger')) {
						if (event.stopPropagation) {
							event.stopPropagation();
						} else if (window.event) {
							window.event.cancelBubble = true;
						}
					}
				});
				
				$('.fixed-plugin .active-color span').click(function() {
					$full_page_background = $('.full-page-background');
					
					$(this).siblings().removeClass('active');
					$(this).addClass('active');
					
					var new_color = $(this).data('color');
					
					if ($sidebar.length != 0) {
						$sidebar.attr('data-color', new_color);
					}
					
					if ($full_page.length != 0) {
						$full_page.attr('filter-color', new_color);
					}
					
					if ($sidebar_responsive.length != 0) {
						$sidebar_responsive.attr('data-color', new_color);
					}
				});
				
				$('.fixed-plugin .background-color .badge').click(function() {
					$(this).siblings().removeClass('active');
					$(this).addClass('active');
					
					var new_color = $(this).data('background-color');
					
					if ($sidebar.length != 0) {
						$sidebar.attr('data-background-color', new_color);
					}
				});
				
				$('.fixed-plugin .img-holder').click(function() {
					$full_page_background = $('.full-page-background');
					
					$(this).parent('li').siblings().removeClass('active');
					$(this).parent('li').addClass('active');
					
					
					var new_image = $(this).find("img").attr('src');
					
					if ($sidebar_img_container.length != 0 && $('.switch-sidebar-image input:checked').length != 0) {
						$sidebar_img_container.fadeOut('fast', function() {
							$sidebar_img_container.css('background-image', 'url("' + new_image + '")');
							$sidebar_img_container.fadeIn('fast');
						});
					}
					
					if ($full_page_background.length != 0 && $('.switch-sidebar-image input:checked').length != 0) {
						var new_image_full_page = $('.fixed-plugin li.active .img-holder').find('img').data('src');
						
						$full_page_background.fadeOut('fast', function() {
							$full_page_background.css('background-image', 'url("' + new_image_full_page + '")');
							$full_page_background.fadeIn('fast');
						});
					}
					
					if ($('.switch-sidebar-image input:checked').length == 0) {
						var new_image = $('.fixed-plugin li.active .img-holder').find("img").attr('src');
						var new_image_full_page = $('.fixed-plugin li.active .img-holder').find('img').data('src');
						
						$sidebar_img_container.css('background-image', 'url("' + new_image + '")');
						$full_page_background.css('background-image', 'url("' + new_image_full_page + '")');
					}
					
					if ($sidebar_responsive.length != 0) {
						$sidebar_responsive.css('background-image', 'url("' + new_image + '")');
					}
				});
				
				$('.switch-sidebar-image input').change(function() {
					$full_page_background = $('.full-page-background');
					
					$input = $(this);
					
					if ($input.is(':checked')) {
						if ($sidebar_img_container.length != 0) {
							$sidebar_img_container.fadeIn('fast');
							$sidebar.attr('data-image', '#');
						}
						
						if ($full_page_background.length != 0) {
							$full_page_background.fadeIn('fast');
							$full_page.attr('data-image', '#');
						}
						
						background_image = true;
					} else {
						if ($sidebar_img_container.length != 0) {
							$sidebar.removeAttr('data-image');
							$sidebar_img_container.fadeOut('fast');
						}
						
						if ($full_page_background.length != 0) {
							$full_page.removeAttr('data-image', '#');
							$full_page_background.fadeOut('fast');
						}
						
						background_image = false;
					}
				});
				
				$('.switch-sidebar-mini input').change(function() {
					$body = $('body');
					
					$input = $(this);
					
					if (md.misc.sidebar_mini_active == true) {
						$('body').removeClass('sidebar-mini');
						md.misc.sidebar_mini_active = false;
						
						$('.sidebar .sidebar-wrapper, .main-panel').perfectScrollbar();
						
					} else {
						
						$('.sidebar .sidebar-wrapper, .main-panel').perfectScrollbar('destroy');
						
						setTimeout(function() {
							$('body').addClass('sidebar-mini');
							
							md.misc.sidebar_mini_active = true;
						}, 300);
					}
					
					// we simulate the window Resize so the charts will get updated in realtime.
					var simulateWindowResize = setInterval(function() {
						window.dispatchEvent(new Event('resize'));
					}, 180);
					
					// we stop the simulation of Window Resize after the animations are completed
					setTimeout(function() {
						clearInterval(simulateWindowResize);
					}, 1000);
					
				});
			});
		});
	</script>
	<script>
		$(document).ready(function() {
			// Javascript method's body can be found in assets/js/demos.js
			md.initDashboardPageCharts();
			
			md.initVectorMap();
			
		});
	</script>
</body>

</html>
