<!DOCTYPE html>
<html lang="en">
  <link rel="stylesheet" href="https://cdn.plyr.io/3.6.2/plyr.css" />
{% include "base/head.html" %}
{% load chunks %}
<body class="">
  <script src="/static/essay_manager/js/exercise-list.js?{% now 'U' %}"></script>
  <div class="wrapper ">
    {% include "base/sidebar.html" %}
    <div class="main-panel">
      {% include "base/navbar.html" %}
      <div class="content">
        <div class="content">
          <div class="container-fluid">
            <div class="row sticky-top" id="btns">
              <div class="col-md-auto ml-auto mr-auto" style="max-width: 80vw; min-width: 650px;">
                <div class="card card-chart text-center">
                  <div class="card-body text-center">
                    <div class="btn-group btn-group-toggle" data-toggle="buttons">
                      <label class="btn shadow-none btn-outline-danger" id="selectColorDanger">
                        <input type="radio" name="options" id="option4" aria-pressed="false">        c1
                      </label>
                      <label class="btn shadow-none btn-outline-primary" id="selectColorPrimary" style="margin-left: -1px;">
                        <input type="radio" name="options" id="option1" aria-pressed="false">        c2
                      </label>
                      <label class="btn shadow-none btn-outline-info" id="selectColorInfo" style="margin-left: -1px;"> 
                        <input type="radio" name="options" id="option6" aria-pressed="false" class="text-center">        c3
                      </label>
                    <label class="btn shadow-none btn-outline-warning" id="selectColorWarning">
                      <input type="radio" name="options" id="option5" aria-pressed="false">        c4
                    </label>
                    <label class="btn shadow-none btn-outline-success" id="selectColorSuccess">
                      <input type="radio" name="options" id="option3" aria-pressed="false">        c5
                    </label>
                    <label class="btn shadow-none btn-outline-dark" id="selectColorGrey" style="margin-left: -2px; border: 1px !important; border-color: #333333 !important; border-style: solid !important;
                      border-width: 1px !important; ">
                      <input type="radio" name="options" id="option2" aria-pressed="false"> Tese
                    </label>
                  </div>
                  <div class="btn-group btn-group-toggle" data-toggle="buttons">
                    <label class="btn shadow-none btn-outline-info" style="margin-left: 20px; margin-right: -1px;" id="selectModeLine">
                      <input type="radio" name="selectModeLine" style="box-shadow:none !important;"  aria-pressed="false"> MARCAÇÃO
                    </label>
                    <label class="btn shadow-none btn-outline-info" style="margin-right: -1px;" id="selectModeComment">
                      <input type="radio" name="selectModeComment" style="box-shadow:none !important;"  aria-pressed="false"> COMENTÁRIO
                    </label>
                    <label class="btn shadow-none btn-outline-info" style="margin-right: -1px;" id="selectModeAudio">
                      <input type="radio" name="selectModeAudio" style="box-shadow:none !important;"  aria-pressed="false"> ÁUDIO
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <a class="btn btn-info" style="color: white;" data-toggle="modal" data-target="#manualModal"> Manual </a>
          <a class="btn btn-info" style="color: white;" data-toggle="modal" data-target="#themeModal"> Tema </a>
          <div class="float-right">
            <a class="btn btn-info" style="color: white;"  data-toggle="modal" data-target="#exercisesModal" data-backdrop="static" data-keyboard="false">
              <i class="material-icons">fitness_center</i>
            </a>
            <a class="btn btn-success" style="color: white;" href="/api/essays/download/{{essay.id}}/">
              <i class="material-icons">save_alt</i>
            </a>
            <a class="btn btn-warning" style="color: white;" data-toggle="modal" data-target="#saveModal"  data-backdrop="static" data-keyboard="false">
              <i class="material-icons">save</i>
            </a>
            <a class="btn btn-danger" style="color: white;" data-toggle="modal" data-target="#zeroModal" data-backdrop="static" data-keyboard="false">
              <i class="material-icons">close</i>
            </a>
          </div>

          <div class="modal has-info show" id="saveModal" role="dialog" aria-labelledby="saveModal" style="display: none;" aria-hidden="true">
            <div class="modal-dialog ml-auto mr-auto">
              <div class="modal-content ml-auto mr-auto">
                <div class="modal-header">
                  <h4 class="modal-title">Salvar sem finalizar</h4>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body text-center">
                  Tem certeza que deseja salvar a correção sem a finalizar?
                </div>
                <div class="modal-footer">
                  <button class="btn btn-danger btn-link float-right pull-right" data-dismiss="modal">Não</button>
                  <button class="btn btn-success btn-link float-right pull-right" data-dismiss="modal" onclick="document.getElementById('status-input').value='ACTIVE';updateExportCorrectionData();">Sim</button>
                </div>
              </div>
            </div>
          </div>

          <div class="modal has-info show" id="exercisesModal" role="dialog" aria-labelledby="exercisesModal" style="display: none;" aria-hidden="true">
            <div class="modal-dialog ml-auto mr-auto">
              <div class="modal-content ml-auto mr-auto">
                <div class="modal-header">
                  <h4 class="modal-title">Exercícios recomendados</h4>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="exerciseList.discardAssociatedExercises();">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  {% for exercise in exercises %}
                  <div class="form-check col-sm">
                    <label class="form-check-label">
                        <input class="form-check-input" type="checkbox" id="exercise-{{exercise.id}}"
                        onclick="exerciseList.holdTempExercise({{exercise.id}});"> {{exercise.title}}
                        <span class="form-check-sign">
                            <span class="check"></span>
                        </span>
                    </label>
                  </div>
                  {% endfor %}
                </div>
                <div class="modal-footer">
                  <button class="btn btn-danger btn-link float-right pull-right" data-dismiss="modal" onclick="exerciseList.discardAssociatedExercises();">Cancelar</button>
                  <button class="btn btn-success btn-link float-right pull-right" data-dismiss="modal"  onclick="exerciseList.saveAssociatedExercises();">Salvar recomendações</button>
                </div>
              </div>
            </div>
          </div>

          <div class="modal has-info show" id="manualModal" role="dialog" aria-labelledby="manualModal" style="display: none;" aria-hidden="true">
            <div class="modal-dialog ml-auto mr-auto" style="width:90% !important; max-width:90% !important;">
              <div class="modal-content ml-auto mr-auto" style="width:90% !important; max-width:90% !important;">
                <div class="modal-header">
                  <h4 class="modal-title">Manual do avaliador</h4>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <img src="/uploads/manuals/enem/MANUAL_AVALIADOR-02.jpg" width="100%"/>
                  <img src="/uploads/manuals/enem/MANUAL_AVALIADOR-03.jpg" width="100%"/>
                  <img src="/uploads/manuals/enem/MANUAL_AVALIADOR-04.jpg" width="100%"/>
                  <img src="/uploads/manuals/enem/MANUAL_AVALIADOR-05.jpg" width="100%"/>
                  <img src="/uploads/manuals/enem/MANUAL_AVALIADOR-06.jpg" width="100%"/>
                  <img src="/uploads/manuals/enem/MANUAL_AVALIADOR-07.jpg" width="100%"/>
                  <img src="/uploads/manuals/enem/MANUAL_AVALIADOR-08.jpg" width="100%"/>
                  <img src="/uploads/manuals/enem/MANUAL_AVALIADOR-09.jpg" width="100%"/>
                  <img src="/uploads/manuals/enem/MANUAL_AVALIADOR-10.jpg" width="100%"/>
                </div>
              </div>
            </div>
          </div>

          <div class="modal has-info show" id="themeModal" role="dialog" aria-labelledby="themeModal" style="display: none;" aria-hidden="true">
            <div class="modal-dialog ml-auto mr-auto" style="width: 90% !important; max-width: 90% !important;">
              <div class="modal-content ml-auto mr-auto" style="width: 90% !important; max-width: 90% !important;">
                <div class="modal-header">
                  <h4 class="modal-title">Tema do Aluno</h4>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <img src="/{{essay.theme.file}}" width="100%"/>
                </div>
              </div>
            </div>
          </div>

          <div class="modal has-info show ml-auto mr-auto" id="zeroModal" role="dialog" aria-labelledby="zeroModal" style="display: none;" aria-hidden="true">
            <div class="modal-dialog ml-auto mr-auto" style="width:850px !important; max-width:850px !important;">
              <div class="modal-content ml-auto mr-auto" style="width:850px !important;">
                <div class="modal-header ml-auto mr-auto">
                  <h4 class="modal-title">Anular redação</h4>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body ml-auto mr-auto">
                  <div class="container">
                    {% for chunk in error_classifications_g0|chunks:3 %}
                    <div class="row" style="margin-left: 20px; margin-top: 10px;">
                      {% for error_classification_html in chunk %}
                      {{ error_classification_html }}
                      {% endfor %}
                    </div>
                    {% endfor %}
                  </div>
                  <div class="row" style="margin-left: 20px; margin-top: 10px;">
                    <div class="col-sm form-check">
                      <div class="form-group">
                        <label for="comment-text-g0">Comentários</label>
                        <textarea class="form-control" id="comment-text-g0" rows="5" style="width:90% !important;" onchange="updateTextfield('comment-text-g0', 'c1')"></textarea>
                      </div>
                    </div>
                  </div>
                  <br>
                </div>
                <div class="modal-footer">
                  <button class="btn btn-danger btn-link float-right pull-right" data-dismiss="modal" onclick="nullify()">ANULAR REDAÇÃO</button>
                </div>
              </div>
            </div>
          </div>
          
          <button data-toggle="modal" id="openAudioModal" data-target="#audioModal" hidden="true"></button>
          <div class="modal has-info show" id="audioModal" role="dialog" aria-labelledby="audioModal" style="display: none;" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h4 class="modal-title">Adicionar áudio para {{essay.user.first_name}}{{ " " }}{{ essay.user.last_name }}</h4>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <div class="container cc-center">
                    <div class="video-container">
                      <div class="w-embed">
                        <audio id="recordedAudio" class="js-player" hidden="true">
                          <source/>
                        </audio>
                      </div>
                    </div>
                  </div>
                  <div id="audioControls">
                    <button class="btn btn-info btn-link" id="record">Começar gravação</button>
                    <button class="btn btn-success btn-link float-right pull-right" id="save" data-dismiss="modal" onclick="saveAudio();">Salvar</button>
                    <button class="btn btn-danger btn-link float-right pull-right" id="cancel" data-dismiss="modal">Cancelar</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
          <div class="row" id="card-essay">
            <div class="col-md-12">
              <div class="card card-chart">
                <div class="card-body">
                  <h3 class="card-title text-center">Redação #{{essay.id}}</h3>
                  <h5 class="card-title text-center">{{essay.user.first_name}}{{ " " }}{{ essay.user.last_name }}</h5>
                  <h4 class="card-title text-center">{{essay.upload_date}}</h4>
                </div>
                <div class="card-footer">
                  <i> <img id="src" class="src" src="/{{essay.file}}" width="100%"/> </i> 
                </div>
                <canvas id="canvas" class="src" style="cursor: default;"></canvas>
                <canvas id="canvasPlaceholder" class="src" style="cursor: default;"></canvas>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-auto ml-auto mr-auto">
              <button hidden="true" id="openCommentModal" class="btn btn-primary btn-round" data-toggle="modal" data-target="#myModal" data-backdrop="static" data-keyboard="false">
                <div class="ripple-container"></div>
              </button>
                <div class="modal has-info show" id="myModal" role="dialog" aria-labelledby="myModalLabel" style="display: none;" aria-hidden="true">
                  <div class="modal-dialog" style="width:900px !important; max-width:900px !important;">
                    <div class="modal-content" style="width:900px !important;">
                      <div class="modal-header">
                        <h4 class="modal-title">Adicionar comentários específicos para {{essay.user.first_name}}{{ " " }}{{ essay.user.last_name }}</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body" style="margin-top: -10px; !important">
                        <div class="row" hidden=true>
                          <div class="btn-group btn-group-toggle" data-toggle="buttons">
                            <label class="btn shadow-none btn-outline-info" style="margin-left: 45px; margin-right: -1px;" id="modalC1" onclick="showCompetencyErrors('errorsC1');">
                              <input type="radio" style="box-shadow:none !important;"  aria-pressed="false"> Competência 1
                            </label>
                            <label class="btn shadow-none btn-outline-info" style="margin-right: -2px;" id="modalC2" onclick="showCompetencyErrors('errorsC2');">
                              <input type="radio" style="box-shadow:none !important;"  aria-pressed="false"> Competência 2
                            </label>
                            <label class="btn shadow-none btn-outline-info" style="margin-right: -1px;" id="modalC3" onclick="showCompetencyErrors('errorsC3');">
                              <input type="radio" style="box-shadow:none !important;"  aria-pressed="false"> Competência 3
                            </label>
                            <label class="btn shadow-none btn-outline-info" style="margin-right: -1px;" id="modalC4" onclick="showCompetencyErrors('errorsC4');">
                              <input type="radio" style="box-shadow:none !important;"  aria-pressed="false"> Competência 4
                            </label>
                            <label class="btn shadow-none btn-outline-info" style="margin-right: -1px;" id="modalC5" onclick="showCompetencyErrors('errorsC5');">
                              <input type="radio" style="box-shadow:none !important;"  aria-pressed="false"> Competência 5
                            </label>
                          </div>
                        </div>
                        <div class="container collapse" id="errorsC1">
                          {% for chunk in error_classifications_c1|chunks:3 %}
                          <div class="row" style="margin-left: 20px; margin-top: 10px;">
                            {% for error_classification_html in chunk %}
                            {{ error_classification_html }}
                            {% endfor %}
                          </div>
                          {% endfor %}
                        </div>
                        <div class="container collapse" id="errorsC2">
                          {% for chunk in error_classifications_c2|chunks:3 %}
                          <div class="row" style="margin-left: 20px; margin-top: 10px;">
                            {% for error_classification_html in chunk %}
                            {{ error_classification_html }}
                            {% endfor %}
                          </div>
                          {% endfor %}
                        </div>
                        <div class="container collapse" id="errorsC3">
                          {% for chunk in error_classifications_c3|chunks:3 %}
                          <div class="row" style="margin-left: 20px; margin-top: 10px;">
                            {% for error_classification_html in chunk %}
                            {{ error_classification_html }}
                            {% endfor %}
                          </div>
                          {% endfor %}
                        </div>
                        <div class="container collapse" id="errorsC4">
                          {% for chunk in error_classifications_c4|chunks:3 %}
                          <div class="row" style="margin-left: 20px; margin-top: 10px;">
                            {% for error_classification_html in chunk %}
                            {{ error_classification_html }}
                            {% endfor %}
                          </div>
                          {% endfor %}
                        </div>
                        <div class="container collapse" id="errorsC5">
                          {% for chunk in error_classifications_c5|chunks:3 %}
                          <div class="row" style="margin-left: 20px; margin-top: 10px;">
                            {% for error_classification_html in chunk %}
                            {{ error_classification_html }}
                            {% endfor %}
                          </div>
                          {% endfor %}
                        </div>
                        <div class="row" style="margin-left: 20px; margin-top: 10px;">
                          <div class="col-sm form-check">
                            <div class="form-group">
                              <label for="comment-text">Comentários</label>
                              <textarea class="form-control" id="comment-text" rows="5" style="width:90% !important;"></textarea>
                            </div>
                          </div>
                        </div>
                        <br>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-success btn-link" data-dismiss="modal" onclick="saveComment();">Salvar
                          <div class="ripple-container"><div class="ripple-decorator ripple-on ripple-out" style="left: 36.0833px; top: 14px; background-color: rgb(244, 67, 54); transform: scale(8.51041);"></div></div></button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="card has-info card-chart">
                    <div class="card-body">
                      <h3 class="card-title text-center">Competência 1</h3>
                      <br>
                      <div class="container">
                        <div class="row">
                          <div class="col-sm form-check">
                            <label class="form-check-label">
                              <input class="form-check-input" value="option1" type="radio" name="inlineRadioOptions" id="inlineRadioOptions1-200"  checked="true"> 200
                              <span class="circle">
                                <span class="check"></span>
                              </span>
                            </label>
                          </div>
                          <div class="col-sm form-check">
                            <label class="form-check-label">
                              <input class="form-check-input" value="option2" type="radio" name="inlineRadioOptions" id="inlineRadioOptions1-160"> 160
                              <span class="circle">
                                <span class="check"></span>
                              </span>
                            </label>
                          </div>
                          <div class="col-sm form-check">
                            <label class="form-check-label">
                              <input class="form-check-input" value="option3" type="radio" name="inlineRadioOptions" id="inlineRadioOptions1-120"> 120
                              <span class="circle">
                                <span class="check"></span>
                              </span>
                            </label>
                          </div>
                          <div class="col-sm form-check">
                            <label class="form-check-label">
                              <input class="form-check-input" value="option4" type="radio" name="inlineRadioOptions" id="inlineRadioOptions1-80"> 80
                              <span class="circle">
                                <span class="check"></span>
                              </span>
                            </label>
                          </div>
                          <div class="col-sm form-check">
                            <label class="form-check-label">
                              <input class="form-check-input" value="option5" type="radio" name="inlineRadioOptions" id="inlineRadioOptions1-40"> 40
                              <span class="circle">
                                <span class="check"></span>
                              </span>
                            </label>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="card-footer">
                      <div class="container">
                        {% for chunk in generic_error_classifications_c1|chunks:3 %}
                        <div class="row" style="margin-left: 20px; margin-top: 10px;">
                          {% for error_classification_html in chunk %}
                          {{ error_classification_html }}
                          {% endfor %}
                        </div>
                        {% endfor %}
                        <div class="row">
                          <div class="col-sm form-check">
                            <div class="form-group">
                              <label for="formTextareac1">Comentários técnicos</label>
                              <textarea class="form-control" id="formTextareac0" hidden="true"></textarea>
                              <textarea class="form-control" id="formTextareac1" rows="5" style="width:90% !important;" onchange="updateTextfield('formTextareac1', 'c1')"></textarea>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="card has-info card-chart">
                    <div class="card-body">
                      <h3 class="card-title text-center">Competência 2</h3>
                      <br>
                      <div class="container">
                        <div class="row">
                          <div class="col-sm form-check">
                            <label class="form-check-label">
                              <input class="form-check-input" value="option1" type="radio" id="inlineRadioOptions2-200" name="inlineRadioOptions2" checked="true"> 200
                              <span class="circle">
                                <span class="check"></span>
                              </span>
                            </label>
                          </div>
                          <div class="col-sm form-check">
                            <label class="form-check-label">
                              <input class="form-check-input" value="option2" type="radio" id="inlineRadioOptions2-160" name="inlineRadioOptions2"> 160
                              <span class="circle">
                                <span class="check"></span>
                              </span>
                            </label>
                          </div>
                          <div class="col-sm form-check">
                            <label class="form-check-label">
                              <input class="form-check-input" value="option3" type="radio" id="inlineRadioOptions2-120" name="inlineRadioOptions2"> 120
                              <span class="circle">
                                <span class="check"></span>
                              </span>
                            </label>
                          </div>
                          <div class="col-sm form-check">
                            <label class="form-check-label">
                              <input class="form-check-input" value="option4" type="radio" id="inlineRadioOptions2-80" name="inlineRadioOptions2"> 80
                              <span class="circle">
                                <span class="check"></span>
                              </span>
                            </label>
                          </div>
                          <div class="col-sm form-check">
                            <label class="form-check-label">
                              <input class="form-check-input" value="option5" type="radio" id="inlineRadioOptions2-40" name="inlineRadioOptions2"> 40
                              <span class="circle">
                                <span class="check"></span>
                              </span>
                            </label>
                          </div>
                          <div class="col-sm form-check">
                            <label class="form-check-label">
                              <input class="form-check-input" value="option6" type="radio" id="inlineRadioOptions2-0" name="inlineRadioOptions2"> 0
                              <span class="circle">
                                <span class="check"></span>
                              </span>
                            </label>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="card-footer">
                      <div class="container">
                        {% for chunk in generic_error_classifications_c2|chunks:3 %}
                        <div class="row" style="margin-left: 20px; margin-top: 10px;">
                          {% for error_classification_html in chunk %}
                          {{ error_classification_html }}
                          {% endfor %}
                        </div>
                        {% endfor %}
                        <div class="row">
                          <div class="col-sm form-check">
                            <div class="form-group">
                              <label for="formTextareac2">Comentários técnicos</label>
                              <textarea class="form-control" id="formTextareac2" rows="5" style="width:90% !important;" onchange="updateTextfield('formTextareac2', 'c2')"></textarea>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="card has-info card-chart">
                    <div class="card-body">
                      <h3 class="card-title text-center">Competência 3</h3>
                      <br>
                      <div class="container">
                        <div class="row">
                          <div class="col-sm form-check">
                            <label class="form-check-label">
                              <input class="form-check-input" value="option1" type="radio" id="inlineRadioOptions3-200" name="inlineRadioOptions3" checked="true"> 200
                              <span class="circle">
                                <span class="check"></span>
                              </span>
                            </label>
                          </div>
                          <div class="col-sm form-check">
                            <label class="form-check-label">
                              <input class="form-check-input" value="option2" type="radio" id="inlineRadioOptions3-160" name="inlineRadioOptions3"> 160
                              <span class="circle">
                                <span class="check"></span>
                              </span>
                            </label>
                          </div>
                          <div class="col-sm form-check">
                            <label class="form-check-label">
                              <input class="form-check-input" value="option3" type="radio" id="inlineRadioOptions3-120" name="inlineRadioOptions3"> 120
                              <span class="circle">
                                <span class="check"></span>
                              </span>
                            </label>
                          </div>
                          <div class="col-sm form-check">
                            <label class="form-check-label">
                              <input class="form-check-input" value="option4" type="radio" id="inlineRadioOptions3-80" name="inlineRadioOptions3"> 80
                              <span class="circle">
                                <span class="check"></span>
                              </span>
                            </label>
                          </div>
                          <div class="col-sm form-check">
                            <label class="form-check-label">
                              <input class="form-check-input" value="option5" type="radio" id="inlineRadioOptions3-40" name="inlineRadioOptions3"> 40
                              <span class="circle">
                                <span class="check"></span>
                              </span>
                            </label>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="card-footer">
                      <div class="container">
                        {% for chunk in generic_error_classifications_c3|chunks:3 %}
                        <div class="row" style="margin-left: 20px; margin-top: 10px;">
                          {% for error_classification_html in chunk %}
                          {{ error_classification_html }}
                          {% endfor %}
                        </div>
                        {% endfor %}
                        <div class="row">
                          <div class="col-sm form-check">
                            <div class="form-group">
                              <label for="formTextareac3">Comentários técnicos</label>
                              <textarea class="form-control" id="formTextareac3" rows="5" style="width:90% !important;" onchange="updateTextfield('formTextareac3', 'c3')"></textarea>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="card has-info card-chart">
                    <div class="card-body">
                      <h3 class="card-title text-center">Competência 4</h3>
                      <br>
                      <div class="container">
                        <div class="row">
                          <div class="col-sm form-check">
                            <label class="form-check-label">
                              <input class="form-check-input" value="option1" type="radio" id="inlineRadioOptions4-200" name="inlineRadioOptions4" checked="true"> 200
                              <span class="circle">
                                <span class="check"></span>
                              </span>
                            </label>
                          </div>
                          <div class="col-sm form-check">
                            <label class="form-check-label">
                              <input class="form-check-input" value="option2" type="radio" id="inlineRadioOptions4-160" name="inlineRadioOptions4"> 160
                              <span class="circle">
                                <span class="check"></span>
                              </span>
                            </label>
                          </div>
                          <div class="col-sm form-check">
                            <label class="form-check-label">
                              <input class="form-check-input" value="option3" type="radio" id="inlineRadioOptions4-120" name="inlineRadioOptions4"> 120
                              <span class="circle">
                                <span class="check"></span>
                              </span>
                            </label>
                          </div>
                          <div class="col-sm form-check">
                            <label class="form-check-label">
                              <input class="form-check-input" value="option4" type="radio" id="inlineRadioOptions4-80" name="inlineRadioOptions4"> 80
                              <span class="circle">
                                <span class="check"></span>
                              </span>
                            </label>
                          </div>
                          <div class="col-sm form-check">
                            <label class="form-check-label">
                              <input class="form-check-input" value="option5" type="radio" id="inlineRadioOptions4-40" name="inlineRadioOptions4"> 40
                              <span class="circle">
                                <span class="check"></span>
                              </span>
                            </label>
                          </div>
                          <div class="col-sm form-check">
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="card-footer">
                      <div class="container">
                        {% for chunk in generic_error_classifications_c4|chunks:3 %}
                        <div class="row" style="margin-left: 20px; margin-top: 10px;">
                          {% for error_classification_html in chunk %}
                          {{ error_classification_html }}
                          {% endfor %}
                        </div>
                        {% endfor %}
                        <div class="row">
                          <div class="col-sm form-check">
                            <div class="form-group">
                              <label for="formTextareac4">Comentários técnicos</label>
                              <textarea class="form-control" id="formTextareac4" rows="5" style="width:90% !important;" onchange="updateTextfield('formTextareac4', 'c4')"></textarea>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="card has-info card-chart">
                    <div class="card-body">
                      <h3 class="card-title text-center">Competência 5</h3>
                      <br>
                      <div class="container">
                        <div class="row">
                          <div class="col-sm form-check">
                            <label class="form-check-label">
                              <input class="form-check-input" value="option1" type="radio" id="inlineRadioOptions5-200" name="inlineRadioOptions5" checked="true"> 200
                              <span class="circle">
                                <span class="check"></span>
                              </span>
                            </label>
                          </div>
                          <div class="col-sm form-check">
                            <label class="form-check-label">
                              <input class="form-check-input" value="option2" type="radio" id="inlineRadioOptions5-160" name="inlineRadioOptions5"> 160
                              <span class="circle">
                                <span class="check"></span>
                              </span>
                            </label>
                          </div>
                          <div class="col-sm form-check">
                            <label class="form-check-label">
                              <input class="form-check-input" value="option3" type="radio" id="inlineRadioOptions5-120" name="inlineRadioOptions5"> 120
                              <span class="circle">
                                <span class="check"></span>
                              </span>
                            </label>
                          </div>
                          <div class="col-sm form-check">
                            <label class="form-check-label">
                              <input class="form-check-input" value="option4" type="radio" id="inlineRadioOptions5-80" name="inlineRadioOptions5"> 80
                              <span class="circle">
                                <span class="check"></span>
                              </span>
                            </label>
                          </div>
                          <div class="col-sm form-check">
                            <label class="form-check-label">
                              <input class="form-check-input" value="option5" type="radio" id="inlineRadioOptions5-40" name="inlineRadioOptions5"> 40
                              <span class="circle">
                                <span class="check"></span>
                              </span>
                            </label>
                          </div>
                          <div class="col-sm form-check">
                            <label class="form-check-label">
                              <input class="form-check-input" value="option6" type="radio" id="inlineRadioOptions5-0" name="inlineRadioOptions5"> 0
                              <span class="circle">
                                <span class="check"></span>
                              </span>
                            </label>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="card-footer">
                      <div class="container">
                        {% for chunk in generic_error_classifications_c5|chunks:3 %}
                        <div class="row" style="margin-left: 20px; margin-top: 10px;">
                          {% for error_classification_html in chunk %}
                          {{ error_classification_html }}
                          {% endfor %}
                        </div>
                        {% endfor %}
                        <div class="row">
                          <div class="col-sm form-check">
                            <div class="form-group">
                              <label for="formTextareac5">Comentários técnicos</label>
                              <textarea class="form-control" id="formTextareac5" rows="5" style="width:90% !important;" onchange="updateTextfield('formTextareac5', 'c5')"></textarea>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <br>
              <div class="row">
                <div class="col-md-12">
                  <button type="button" class="btn btn-success" style="width:100% !important" onclick="document.getElementById('status-input').value='DONE';updateExportCorrectionData();"> Finalizar </button>
                  <form id="submitUpdateForm" class="form" method="post" action="/corrections/update/{{essay.id}}/">
                    <input type="hidden" class="form-control" name="data" maxlength="150" required="" id="formInput">
                    <input type="hidden" class="form-control" id="status-input" name="status" maxlength="150" value="DONE">
                  </form>
                </div>
              </div>
            </div>
            {% include "base/footer.html" %}
          </div>
        </div>
        <script src="/static/essay_manager/js/redactor-monitor.js?{% now 'U' %}"></script>
        <script src="/static/essay_manager/js/plugins/bootstrap-notify.js"></script>
        <script type="text/javascript">
           $('.w-dropdown').hover(function(evt)
           {
           evt.preventDefault();
           
           var openClass = 'w--open';
           var $view = $(this);
           if (evt.type == 'mouseenter')
           
           { $view.find('.w-dropdown-toggle').addClass(openClass); $view.find('.w-dropdown-list').addClass(openClass); }
           else if (evt.type == 'mouseleave')
           
           { $view.find('.w-dropdown-toggle').removeClass(openClass); $view.find('.w-dropdown-list').removeClass(openClass); }
           });
        </script><script src="https://cdn.plyr.io/3.5.6/plyr.js"></script>
        <script>
           document.addEventListener('DOMContentLoaded', () => {
               const player = Plyr.setup('.js-player', {
                 'invertTime': false,
               });
           });
        </script>
        <script>
          $(document).ready(function() {
            var allCheckboxes = document.querySelectorAll('input[type=checkbox]');
            [].forEach.call(allCheckboxes, function (checkbox) {
              checkbox.checked = checkbox.defaultChecked;
            });
          });
        </script>
        <script>
          $(document).ready(function() {
            setUsername('{{username}}');
            importCorrectionData({{data}});
            
            {% if created == 'True' %}
            md.showNotification('top', 'center', 'Correção iniciada.', 'success');
            {% elif created == 'False' %}
            md.showNotification('top', 'center', 'Falha ao iniciar correção. Contate o administrador e corrija outra redação.', 'danger');
            {% endif %}

            exerciseList.setCurrentEssay({{essay.id}});
            exerciseList.loadAssociatedExercises({{associated_exercises}});
          });
        </script>
        
      </body>
      
      </html>
      