{% extends "base/page.html" %}

{% block page %}
<script>
  $(document).ready(function() {
    $().ready(function() {
      
      {% if added == 'True' %}
      md.showNotification('top', 'center', 'Redação adicionada com sucesso!', 'success');
      {% elif added == 'False' %}
      md.showNotification('top', 'center', 'Falha ao adicionar redação. Selecione um tema e um arquivo!', 'danger');
      {% endif %}
      
    });
  });
</script>
{% if essays %}
<div class="row ml-4">
  <h5 class="card-title">É fundamental conferir seus erros anteriores antes de produzir novas redações!</h5>
</div>
{% endif %}
<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header card-header-icon card-header-info">
        <div class="card-icon">
          <i class="material-icons">assignment</i>
        </div>
        <h4 class="card-title ">Redações</h4>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-hover">
            <thead class="text-bold">
              
              <th> ID </th>
              <th> Banca </th>
              <th> Tema</th>
              <th> Data de Submissão</th>
              <th> Nota</th>
            </thead>
            
            <tbody>
              {% for essay in essays %}
              <tr>
                <td><a href='{{essay.id}}/'> {{ essay.id }} </a></td>
                <td><a href='{{essay.id}}/'> {{ essay.theme.jury }} </a></td>
                <td><a href='{{essay.id}}/'> {{ essay.theme }} </a></td>
                <td><a href='{{essay.id}}/'> {{ essay.upload_date }} </a></td>
                <td class="text-bold"><a class="pjax" href='{{essay.id}}/'> {{ essay.grade }} </a></td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        <a class="pjax text-white btn btn-info pull-right" style="color: white" href="/essays/new/">Adicionar</a>
        <div class="card-footer">
          <div class="stats">
            {% if essays|length == 0 %}
            Sem redações cadastradas. Cadastre sua primeira clicando no botão ao lado.
            {% else %}
            Cadastre uma nova redação clicando no botão ao lado.
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}