{% extends "base/page.html" %}

{% block page %}

<script src="/static/essay_manager/js/plugins/perfect-scrollbar.jquery.min.js"></script>
<script src="/static/essay_manager/js/plugins/jquery.validate.min.js"></script>
<script src="/static/essay_manager/js/plugins/jquery.bootstrap-wizard.js"></script>
<script src="/static/essay_manager/js/plugins/bootstrap-selectpicker.js"></script>
<script src="/static/essay_manager/js/plugins/jasny-bootstrap.min.js"></script>
<script src="/static/essay_manager/demo/demo.js"></script>
<script>
	$(document).ready(function() {
		demo.initMaterialWizard();
		setTimeout(function() {
			$('.card.card-wizard').addClass('active');
		}, 600);
	});
</script>
<div class="row">
	<div class="col-md-12 col-lg-12 col-xl-10 mr-auto ml-auto">
		<div class="wizard-container">
			<div class="card card-wizard" data-color="blue" id="wizardProfile">
				<form enctype="multipart/form-data" method="post" action="/api/essays/create/" onkeydown="return event.key != 'Enter';">
					{% csrf_token %}
					<div class="card-header text-center">
						<h3 class="card-title">
							Cadastrar nova redação
						</h3>
						<h5 class="info-text"> Preencha as informações à seguir.</h5>
					</div>
					<div class="wizard-navigation">
						<ul class="nav nav-pills">
							<li class="nav-item">
								<a class="nav-link active" href="#theme" data-toggle="tab" role="tab">
									Tema
								</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#file" data-toggle="tab" role="tab" id="essayFile">
									Redação escaneada
								</a>
							</li>
						</ul>
					</div>
					<div class="card-body has-info">
						<div class="tab-content">
							<div class="tab-pane active" id="theme">
								<div class="form-group">
									<label for="i1" class="info-text card-title" style="width: 100%; font-size: 1.0625rem;">Identifique o tema da sua redação.</label>
									<input type="text" class="form-control text-center" id="i1" name="theme_id" required style="opacity: 0">
								</div>
								<p class="text-center" style="margin-top: -15px;">Caso o tema não esteja em nossa lista, adicione-o selecionando a opção "Outro".</p>
								<div class="row justify-content-center">
									<div class="col-lg-10">
										<div class="row" style="height: 40px;">
											<div class="choice" data-toggle="wizard-radio" onclick="document.getElementById('newTheme').hidden = false; document.getElementById('i1').value=-1;">
												<input type="radio" name="theme_id" value=-1>
												<div class="icon" style="width: 100%; height: 30px; border-radius: 0px; border-top: 5px; border-right: 5px; border-bottom: 5px;">
													<p style="height: 25px; text-align: left; overflow: hidden; text-overflow: ellipsis;">    Outro</p>
												</div>
											</div>
										</div>
										<div id="newTheme" class="fileinput fileinput-new text-center" style='width: 100%;' data-provides="fileinput" hidden>
											<div class="form-group" style="margin-top: 50px">
												<label class="bmd-label-floating">Nome do tema</label>
												<input type="text" class="form-control" id="i2" name="theme_name" required>
											</div>
											<div class="form-group bmd-form-group is-filled" style="margin-top: 30px">
												<label class="bmd-label-floating">Banca avaliadora</label>
												<select name="theme_jury" class="selectpicker" style="font-size: 14px important;" data-size="2" data-style="select-with-transition">
													<option value="ENEM">ENEM</option>
													<option value="VUNESP">VUNESP</option>
												</select>
											</div>
											<div class="fileinput-new thumbnail" style="margin-top: 40px">
												<img src="/static/essay_manager/img/image_placeholder.jpg" alt="...">
											</div>
											<div class="fileinput-preview fileinput-exists thumbnail"></div>
											<div>
												<span class="btn btn-info btn-file">
													<span class="fileinput-new">Selecionar arquivo</span>
													<span class="fileinput-exists">Mudar arquivo</span>
													<input type="file" name="theme_file" accept="image/x-png,image/jpeg,application/pdf" required>
												</span>
												<a class="btn btn-danger fileinput-exists" style="color: white" data-dismiss="fileinput">Cancelar</a>
											</div>
										</div>
										{% for theme in themes %}
										<div class="row" style="height: 40px;">
											<div class="choice" data-toggle="wizard-radio" onclick="document.getElementById('newTheme').hidden=true; document.getElementById('i1').value={{theme.id}};">
												<input type="radio" value={{theme.id}}>
												<div class="icon" style="width: 100%; height: 30px; border-radius: 0px; border-top: 5px; border-right: 5px; border-bottom: 5px;">
													<p style="height: 25px; text-align: left; overflow: hidden; text-overflow: ellipsis;">    {{theme.description}}</p>
												</div>
											</div>
										</div>
										{% endfor %}
									</div>
								</div>
								<div class="card-footer">
									<div class="ml-auto">
										<input type="button" class="btn btn-fill btn-info" value="Próximo" onclick="document.getElementById('essayFile').click()">
									</div>
								</div>
							</div>
							<div class="tab-pane" id="file">
								<div class="row justify-content-center">
									<div class="col-lg-10 mt-3">
										<label for="essay_file" id="header" class="info-text card-title" style="width: 100%; font-size: 1.0625rem;">A foto descritiva da redação é obrigatória.</label>
										<div class="form-group bmd-form-group is-filled" style="width: 100%; margin-top: 5px;">
											<label class="bmd-label-floating" style="margin-top: 4px;">Tipo de Jornada</label>
											<select name="mode" class="selectpicker" style="width: 100% important; font-size: 14px important;" data-size="3" data-style="select-with-transition">
												<option value="1">Jornada 1<small> - devolutiva comentada.</small></option>
												<option value="2">Jornada 2<small> - devolutiva comentada e encontro com corretor.</small></option>
												<option value="3">Jornada 3<small> - correção ao vivo com o corretor.</small></option>
											</select>
										</div>
										<h4 class="title text-center">Imagem escaneada (pdf, png, ou jpeg)</h4>
										<div class="fileinput fileinput-new text-center" style='width: 100%;' data-provides="fileinput">
											<div class="fileinput-new thumbnail">
												<img src="/static/essay_manager/img/image_placeholder.jpg" alt="...">
											</div>
											<div class="fileinput-preview fileinput-exists thumbnail"></div>
											<div>
												<span class="btn btn-info btn-file">
													<span class="fileinput-new">Selecionar arquivo</span>
													<span class="fileinput-exists">Mudar arquivo</span>
													<input type="file" id="essay_file" name="file" accept="image/x-png,image/jpeg,application/pdf" required>
												</span>
												<a class="btn btn-danger fileinput-exists" style="color: white" data-dismiss="fileinput">Cancelar</a>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="card-footer">
								<div class="ml-auto">
									<input type="submit" class="btn btn-finish btn-fill btn-success btn-wd" name="finish" value="Finalizar" style="display: none;" onclick="if (document.getElementById('essay_file').files.length == 0) document.getElementById('header').style.color='#FF0000';">
								</div>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
		<!-- wizard container -->
	</div>
</div>

{% endblock page %}