{% extends "base/page.html" %}

{% block page %}
<div class="row">
  <div class="col-md-12">
    <div class="card card-plain">
      <div class="card-header card-header-icon card-header-info">
        <div class="card-icon">
          <i class="material-icons">person</i>
        </div>
        <h4 class="card-title mt-0"> Suas atividades</h4>
        <p class="card-category"> Atividades recomendadas de acordo com o seu desempenho. </p>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          {% if interests %}
          <table class="table table-hover">
            <thead class="" style="background-color: rgb(238, 238, 238) !important;">
              <tr>
                <th style="background-color: rgb(238, 238, 238) !important; width: 10%">
                  Nome
                </th>
                <th style="background-color: rgb(238, 238, 238) !important; width: 70%">
                  Descrição
                </th>
                <th style="background-color: rgb(238, 238, 238) !important; width: 20%">
                </th>
              </tr>
            </thead>
            <tbody>
              {% for interest in interests %}
              <tr>
                <td> <a href="/exercises/{{interest.list.id}}/"> {{interest.list.title}} </a></td>
                <td> <a href="/exercises/{{interest.list.id}}/"> {{interest.list.description}} </a></td>
                <td style="height: 75px;">
                  <a class="btn btn-link btn-warning" style="display: inline;" href="/api/exercises/uninterest/{{interest.list.id}}/">Desmarcar interesse</a>
                  <a class="btn btn-link btn-info" style="display: inline;" href="/api/exercises/complete/{{interest.list.id}}/">Marcar conclúido</a>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
          {% else %}
          <p><i>Não há atividades sugeridas até o momento.</i></p>
          {% endif %}
        </div>
      </div>
    </div>
    
  </div>
</div>
{% endblock %}