{% extends "base/page.html" %}

{% block page %}
<div class="row">
	<div class="col-md-6">
		<h3>{{exercise.title}}</h3>
	</div>
	<div class="col-md-6">
		<p></p>
		<a class="btn btn-success pull-right" href="/api/exercises/complete/{{exercise.id}}/">Concluído</a>
		<a class="btn btn-info pull-right" href="/{{exercise.file}}">Download</a>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<div class="card card-chart">
			<div class="card-body">
				<i><img id="src" src="/{{exercise.file}}" width="100%"/></i>
			</div>
		</div>
	</div>
</div>
{% endblock %}