<!DOCTYPE html>
  <html lang="en">
    {% include "head.html" %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/chartist/0.10.1/chartist.min.css" />
  <body class="">
    <div class="wrapper ">
      {% include "sidebar.html" %}
      <div class="main-panel">
        <!-- Navbar -->
        {% include "navbar.html" %}
        <!-- End Navbar -->
        <div class="content">
          <div class="content">
            <div class="container-fluid">
              <div class="row">
                <div class="col-md-12">
                  <div class="card">
                    <div class="card-header card-header-icon card-header-info">
                      <div class="card-icon">
                        <i class="material-icons">timeline</i>
                      </div>
                      <h4 class="card-title">Competências <small> - média geral</small></h4>
                    </div>
                    <div class="card-body">
                      <div id="grades3Chart" class="ct-chart"></div>
                    </div>
                    <div class="card-footer">
                      <p class='text-info'>Competência 1</p>
                      <p class='text-danger'>Competência 2</p>
                      <p class='text-warning'>Competência 3</p>
                      <p style="color: #d17905">Competência 4</p>
                      <p style="color: #453d3f">Competência 5</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="card">
                    <div class="card-header card-header-icon card-header-info">
                      <div class="card-icon">
                        <i class="material-icons">timeline</i>
                      </div>
                      <h4 class="card-title">Competências <small> - com o passar do tempo</small></h4>
                    </div>
                    <div class="card-body">
                      <div id="grades2Chart" class="ct-chart"></div>
                    </div>
                    <div class="card-footer">
                      <p class='text-info'>Competência 1</p>
                      <p class='text-danger'>Competência 2</p>
                      <p class='text-warning'>Competência 3</p>
                      <p style="color: #d17905">Competência 4</p>
                      <p style="color: #453d3f">Competência 5</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="card">
                    <div class="card-header card-header-icon card-header-info">
                      <div class="card-icon">
                        <i class="material-icons">content_paste</i>
                      </div>
                      <h4 class="card-title">Últimas notas</h4>
                    </div>
                    <div class="card-body">
                      <div id="gradesChart" class="ct-chart"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        {% include "footer.html" %}
      </div>
    </div>
    <!--   Core JS Files   -->
    <script src="/static/essay_manager/js/core/jquery.min.js"></script>
    <script src="/static/essay_manager/js/core/popper.min.js"></script>
    <script src="/static/essay_manager/js/core/bootstrap-material-design.min.js"></script>
    <script src="/static/essay_manager/js/plugins/perfect-scrollbar.jquery.min.js"></script>
    <script src="/static/essay_manager/js/plugins/chartist.min.js"></script>
    <script src="/static/essay_manager/js/material-dashboard.js?v=2.1.2" type="text/javascript"></script>
    <script>
      startAnimationForLineChart = function(chart) {
        chart.on('draw', function(data) {
          if (data.type === 'line' || data.type === 'area') {
            data.element.animate({
              d: {
                begin: 600,
                dur: 700,
                from: data.path.clone().scale(1, 0).translate(0, data.chartRect.height()).stringify(),
                to: data.path.clone().stringify(),
                easing: Chartist.Svg.Easing.easeOutQuint
              }
            });
          } else if (data.type === 'point') {
            seq++;
            data.element.animate({
              opacity: {
                begin: seq * delays,
                dur: durations,
                from: 0,
                to: 1,
                easing: 'ease'
              }
            });
          }
        });

        seq = 0;
      };

      $(document).ready(function() {
        datagradesChart = {
          series: [
            {{grades}},
          ]
        };

        optionsgradesChart = {
          lineSmooth: Chartist.Interpolation.cardinal({
            tension: 0
          }),
        }

        datagrades2Chart = {
          series: [
            {{gradesc1}},
            {{gradesc2}},
            {{gradesc3}},
            {{gradesc4}},
            {{gradesc5}},
          ]
        };
        optionsgrades2Chart = {
          lineSmooth: Chartist.Interpolation.cardinal({
            tension: 0
          }),
        }

        datagrades3Chart = {
          series: [
            {{avg_gradesc1}},
            {{avg_gradesc2}},
            {{avg_gradesc3}},
            {{avg_gradesc4}},
            {{avg_gradesc5}},
          ]
        };
        optionsgrades3Chart = {
          lineSmooth: Chartist.Interpolation.cardinal({
            tension: 0
          }),
        }
        
        var gradesChart = new Chartist.Line('#gradesChart', datagradesChart, optionsgradesChart);
        var grades2Chart = new Chartist.Bar('#grades2Chart', datagrades2Chart, optionsgrades2Chart);
        var grades3Chart = new Chartist.Pie('#grades3Chart', datagrades3Chart, optionsgrades3Chart);
        startAnimationForLineChart(gradesChart);
        startAnimationForLineChart(grades2Chart);
        startAnimationForLineChart(grades3Chart);
      });

    </script>
  </body>
  
  </html>
  