{% load permissions %}

<!DOCTYPE html>
<html lang="en">
{% include "head.html" %}
<body class="">
    <div class="wrapper ">
        {% include "sidebar.html" %}
        <div class="main-panel">
            {% include "navbar.html" %}
            <div class="content">
                <div class="content">
                    <div class="container-fluid">
                        <ul class="nav nav-pills nav-pills-success nav-pills-icons mt-4" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="tab" href="#enem" role="tablist">
                                    ENEM
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#vunesp" role="tablist">
                                    VUNESP
                                </a>
                            </li>
                        </ul>
                        <div class="tab-content tab-space tab-subcategories">
                            <div class="tab-pane ml-3 active" id="enem">
                                {% if enem_count %}
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="card card-plain">
                                            <div class="card-header card-header-icon card-header-success">
                                            <div class="card-icon">
                                                <i class="material-icons">content_paste</i>
                                            </div>
                                            <h4 class="card-title">Últimas notas</h4>
                                            </div>
                                            <div class="card-body">
                                            <div id="gradesChartENEM" class="ct-chart ct-chart-info"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="card card-plain">
                                            <div class="card-header card-header-icon card-header-success">
                                            <div class="card-icon">
                                                <i class="material-icons">timeline</i>
                                            </div>
                                            <h4 class="card-title">Competências</h4>
                                            </div>
                                            <div class="card-body">
                                                <div class="row">
                                                    <div class="col-md-12 col-lg-8">
                                                        <h5 style="text-align: center;">Últimas redações</h5>
                                                        <div id="grades2ChartENEM" class="ct-chart"></div>
                                                    </div>
                                                    <div class="col-md-12 col-lg-4">
                                                        <h5 style="text-align: center;">Média geral</h5>
                                                        <div id="grades3ChartENEM" class="ct-chart"></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card-footer" style="margin-top: 0px">
                                                <p style="color: #F48B36">Competência 1</p>
                                                <p style="color: #9C27B0">Competência 2</p>
                                                <p style="color: #00BCD4">Competência 3</p>
                                                <p style="color: #FFD057">Competência 4</p>
                                                <p style="color: #4CAF4F">Competência 5</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% else %}
                                <h5 class="ml-5"><i>Sem produções para a banca selecionada.</i></h5>
                                {% endif %}
                            </div>
                            <div class="tab-pane" id="vunesp">
                                {% if vunesp_count %}
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="card card-plain">
                                            <div class="card-header card-header-icon card-header-success">
                                                <div class="card-icon">
                                                    <i class="material-icons">content_paste</i>
                                                </div>
                                                <h4 class="card-title">Últimas notas</h4>
                                            </div>
                                            <div class="card-body">
                                                <div id="gradesChartVUNESP" class="ct-chart ct-chart-info"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="card card-plain">
                                            <div class="card-header card-header-icon card-header-success">
                                            <div class="card-icon">
                                                <i class="material-icons">timeline</i>
                                            </div>
                                            <h4 class="card-title">Critérios</h4>
                                            </div>
                                            <div class="card-body">
                                                <div class="row">
                                                    <div class="col-md-12 col-lg-8">
                                                        <h5 style="text-align: center;">Últimas redações</h5>
                                                        <div id="grades2ChartVUNESP" class="ct-chart"></div>
                                                    </div>
                                                    <div class="col-md-12 col-lg-4">
                                                        <h5 style="text-align: center;">Média geral</h5>
                                                        <div id="grades3ChartVUNESP" class="ct-chart"></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card-footer" style="margin-top: 0px">
                                                <p style="color: #F48B36">Critério A</p>
                                                <p style="color: #9C27B0">Critério B</p>
                                                <p style="color: #00BCD4">Critério C</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% else %}
                                <h5 class="ml-5"><i>Sem produções para a banca selecionada.</i></h5>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% include "footer.html" %}
        </div>
    </div>
    <!--   Core JS Files   -->
    <script src="/static/essay_manager/js/core/jquery.min.js"></script>
    <script src="/static/essay_manager/js/core/popper.min.js"></script>
    <script src="/static/essay_manager/js/core/bootstrap-material-design.min.js"></script>
    <script src="/static/essay_manager/js/plugins/perfect-scrollbar.jquery.min.js"></script>
    <script src="/static/essay_manager/js/material-dashboard.js?v=2.1.2" type="text/javascript"></script>
    <script src="/static/essay_manager/js/plugins/chartist.min.js"></script>
    <script>
        startAnimationForLineChart = function(chart) {
          chart.on('draw', function(data) {
            if (data.type === 'line' || data.type === 'area') {
              data.element.animate({
                d: {
                  begin: 600,
                  dur: 700,
                  from: data.path.clone().scale(1, 0).translate(0, data.chartRect.height()).stringify(),
                  to: data.path.clone().stringify(),
                  easing: Chartist.Svg.Easing.easeOutQuint
                }
              });
            } else if (data.type === 'point') {
              seq++;
              data.element.animate({
                opacity: {
                  begin: seq * delays,
                  dur: durations,
                  from: 0,
                  to: 1,
                  easing: 'ease'
                }
              });
            }
          });
  
          seq = 0;
        };
  
        {% if enem_count %}
        $(document).ready(function() {
          datagradesChart = {
            series: [
              {{enem_grades}},
            ]
          };
  
          optionsgradesChart = {
            low: 0,
            high: 1000,
            height: '300px',
          }
  
          datagrades2Chart = {
            labels: {{enem_essays}},
            series: [
              {{gradesc1}},
              {{gradesc2}},
              {{gradesc3}},
              {{gradesc4}},
              {{gradesc5}},
            ]
          };
          optionsgrades2Chart = {
            height: '200px',
          }
  
          datagrades3Chart = {
            series: [
              {{avg_gradesc1}},
              {{avg_gradesc2}},
              {{avg_gradesc3}},
              {{avg_gradesc4}},
              {{avg_gradesc5}},
            ]
          };
          optionsgrades3Chart = {
            height: '200px',
            lineSmooth: Chartist.Interpolation.cardinal({
              tension: 0
            }),
          }
          
          var gradesChart = new Chartist.Line('#gradesChartENEM', datagradesChart, optionsgradesChart);
          var grades2Chart = new Chartist.Bar('#grades2ChartENEM', datagrades2Chart, optionsgrades2Chart);
          var grades3Chart = new Chartist.Pie('#grades3ChartENEM', datagrades3Chart, optionsgrades3Chart);
          startAnimationForLineChart(gradesChart);
          startAnimationForLineChart(grades2Chart);
          startAnimationForLineChart(grades3Chart);
        });
        {% endif %}
        {% if vunesp_count %}
        $(document).ready(function() {
          datagradesChart = {
            series: [
              {{vunesp_grades}},
            ]
          };
  
          optionsgradesChart = {
            low: 0,
            high: 11,
            height: '300px',
            lineSmooth: Chartist.Interpolation.cardinal({
              tension: 0
            }),
          }
  
          datagrades2Chart = {
            labels: {{vunesp_essays}},
            series: [
              {{gradesa}},
              {{gradesb}},
              {{gradesc}},
            ]
          };
          optionsgrades2Chart = {
            height: '200px',
            lineSmooth: Chartist.Interpolation.cardinal({
              tension: 0
            }),
          }
  
          datagrades3Chart = {
            height: '200px',
            series: [
              {{avg_gradesa}},
              {{avg_gradesb}},
              {{avg_gradesc}},
            ]
          };
          optionsgrades3Chart = {
            lineSmooth: Chartist.Interpolation.cardinal({
              tension: 0
            }),
          }
          
          var gradesChart = new Chartist.Line('#gradesChartVUNESP', datagradesChart, optionsgradesChart);
          var grades2Chart = new Chartist.Bar('#grades2ChartVUNESP', datagrades2Chart, optionsgrades2Chart);
          var grades3Chart = new Chartist.Pie('#grades3ChartVUNESP', datagrades3Chart, optionsgrades3Chart);
          startAnimationForLineChart(gradesChart);
          startAnimationForLineChart(grades2Chart);
          startAnimationForLineChart(grades3Chart);
          
        });
        {% endif %}  
      </script>
      <script>
        $(document).ready(function() {
            $('.nav-link').click(function (){
                var simulateWindowResize = setInterval(function() {
                    window.dispatchEvent(new Event('resize'));
                }, 100);
                
                setTimeout(function() {
                    clearInterval(simulateWindowResize);
                }, 1000); 
            });
        });
      </script>
</body>

</html>
