{% load permissions %}

<!DOCTYPE html>
<html lang="en">
{% include "head.html" %}
<body class="">
    <div class="wrapper ">
        {% include "sidebar.html" %}
        <div class="main-panel">
            <!-- Navbar -->
            {% include "navbar.html" %}
            <!-- End Navbar -->
            <div class="content">
                <div class="content">
                    <div class="container-fluid">
                        <h4>Dados gerais</h4>
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-12">
                                <div class="card card-stats">
                                    <div class="card-header card-header-success card-header-icon">
                                        <div class="card-icon">
                                            <i class="material-icons">schedule</i>
                                        </div>
                                        <p class="card-category">Tempo médio de correção</p>
                                        <h3 class="card-title">{{ average_correction_time }}</h3>
                                    </div>
                                    <div class="card-footer">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12">
                                <div class="card card-stats">
                                    <div class="card-header card-header-success card-header-icon">
                                        <div class="card-icon">
                                            <i class="material-icons">equalizer</i>
                                        </div>
                                        <p class="card-category">Nota média</p>
                                        <h3 class="card-title">{{ average_grade }}</h3>
                                    </div>
                                    <div class="card-footer">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <h4>Dados individuais</h4>
						<div class="page-categories">
							<ul class="nav nav-pills nav-pills-success nav-pills-icons" role="tablist">
								<li class="nav-item">
									<a class="nav-link active" data-toggle="tab" href="#week" role="tablist">
										Nessa semana
									</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" data-toggle="tab" href="#month" role="tablist">
										Nesse mês
									</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" data-toggle="tab" href="#all" role="tablist">
										Total
									</a>
								</li>
							</ul>
							<div class="tab-content tab-space tab-subcategories">
								<div class="tab-pane active" id="week">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="card card-plain mt-0">
                                                <div class="card-body">
                                                    <div class="table-responsive">
                                                        <table class="table">
                                                            <thead class="text-bold">
                                                                <th> Corretor </th>
                                                                <th> Nota média </th>
                                                                <th> Correções PPA </th>
                                                                <th> Correções Solidárias </th>
                                                            </thead>
                                                            <tbody>
                                                                {% for user in monitors %}
                                                                <tr>
                                                                    <td>{{ user.first_name }}{{ " " }}{{ user.last_name }} </a></td>
                                                                    <td>{{ user.week_avg_grade }} </a></td>
                                                                    <td>{{ user.week_paid_corrections }}</a></td>
                                                                    <td>{{ user.week_free_corrections }}</a></td>
                                                                </tr>
                                                                {% endfor %}
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
								</div>
								<div class="tab-pane" id="month">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="card card-plain mt-0">
                                                <div class="card-body">
                                                    <div class="table-responsive">
                                                        <table class="table">
                                                            <thead class="text-bold">
                                                                <th> Corretor </th>
                                                                <th> Nota média </th>
                                                                <th> Correções PPA </th>
                                                                <th> Correções Solidárias </th>
                                                            </thead>
                                                            <tbody>
                                                                {% for user in monitors %}
                                                                <tr>
                                                                    <td>{{ user.first_name }}{{ " " }}{{ user.last_name }} </a></td>
                                                                    <td>{{ user.month_avg_grade }} </a></td>
                                                                    <td>{{ user.month_paid_corrections }}</a></td>
                                                                    <td>{{ user.month_free_corrections }}</a></td>
                                                                </tr>
                                                                {% endfor %}
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
								</div>
								<div class="tab-pane" id="all">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="card card-plain mt-0">
                                                <div class="card-body">
                                                    <div class="table-responsive">
                                                        <table class="table">
                                                            <thead class="text-bold">
                                                                <th> Corretor </th>
                                                                <th> Nota média </th>
                                                                <th> Tempo total de correção </th>
                                                                <th> Tempo médio de correção </th>
                                                                <th> # Correções </th>
                                                            </thead>
                                                            <tbody>
                                                                {% for user in monitors %}
                                                                <tr>
                                                                    <td>{{ user.first_name }}{{ " " }}{{ user.last_name }} </a></td>
                                                                    <td>{{ user.monitor_average_grade }} </a></td>
                                                                    <td>{{ user.monitor_total_correction_time }} </a></td>
                                                                    <td>{{ user.monitor_average_correction_time }} </a></td>
                                                                    <td>{{ user.monitor_done_corrections_count }}</a></td>
                                                                </tr>
                                                                {% endfor %}
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
								</div>
							</div>
						</div>
                    </div>
                </div>
            </div>
            {% include "footer.html" %}
        </div>
    </div>
    <!--   Core JS Files   -->
    <script src="/static/essay_manager/js/core/jquery.min.js"></script>
    <script src="/static/essay_manager/js/core/popper.min.js"></script>
    <script src="/static/essay_manager/js/core/bootstrap-material-design.min.js"></script>
    <script src="/static/essay_manager/js/plugins/perfect-scrollbar.jquery.min.js"></script>
    <!-- Plugin for the momentJs  -->
    <script src="/static/essay_manager/js/plugins/moment.min.js"></script>
    <!--  Plugin for Sweet Alert -->
    <script src="/static/essay_manager/js/plugins/sweetalert2.js"></script>
    <!-- Forms Validations Plugin -->
    <script src="/static/essay_manager/js/plugins/jquery.validate.min.js"></script>
    <!-- Plugin for the Wizard, full documentation here: https://github.com/VinceG/twitter-bootstrap-wizard -->
    <script src="/static/essay_manager/js/plugins/jquery.bootstrap-wizard.js"></script>
    <!--	Plugin for Select, full documentation here: http://silviomoreto.github.io/bootstrap-select -->
    <script src="/static/essay_manager/js/plugins/bootstrap-selectpicker.js"></script>
    <!--  Plugin for the DateTimePicker, full documentation here: https://eonasdan.github.io/bootstrap-datetimepicker/ -->
    <script src="/static/essay_manager/js/plugins/bootstrap-datetimepicker.min.js"></script>
    <!--  DataTables.net Plugin, full documentation here: https://datatables.net/  -->
    <script src="/static/essay_manager/js/plugins/jquery.dataTables.min.js"></script>
    <!--	Plugin for Tags, full documentation here: https://github.com/bootstrap-tagsinput/bootstrap-tagsinputs  -->
    <script src="/static/essay_manager/js/plugins/bootstrap-tagsinput.js"></script>
    <!-- Plugin for Fileupload, full documentation here: http://www.jasny.net/bootstrap/javascript/#fileinput -->
    <script src="/static/essay_manager/js/plugins/jasny-bootstrap.min.js"></script>
    <!--  Full Calendar Plugin, full documentation here: https://github.com/fullcalendar/fullcalendar    -->
    <script src="/static/essay_manager/js/plugins/fullcalendar.min.js"></script>
    <!-- Vector Map plugin, full documentation here: http://jvectormap.com/documentation/ -->
    <script src="/static/essay_manager/js/plugins/jquery-jvectormap.js"></script>
    <!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
    <script src="/static/essay_manager/js/plugins/nouislider.min.js"></script>
    <!-- Include a polyfill for ES6 Promises (optional) for IE11, UC Browser and Android browser support SweetAlert -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/core-js/2.4.1/core.js"></script>
    <!-- Library for adding dinamically elements -->
    <script src="/static/essay_manager/js/plugins/arrive.min.js"></script>
    <!--  Google Maps Plugin    -->
    <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>
    <!-- Chartist JS -->
    <script src="/static/essay_manager/js/plugins/chartist.min.js"></script>
    <!--  Notifications Plugin    -->
    <script src="/static/essay_manager/js/plugins/bootstrap-notify.js"></script>
    <!-- Control Center for Material Dashboard: parallax effects, scripts for the example pages etc -->
    <script src="/static/essay_manager/js/material-dashboard.js?v=2.1.2" type="text/javascript"></script>
    <!-- Material Dashboard DEMO methods, don't include it in your project! -->
    <script src="/static/essay_manager/demo/demo.js"></script>
    <script>
        $(document).ready(function() {
            $().ready(function() {
                
                {% if added == 'True' %}
                md.showNotification('top', 'center', 'Redação adicionada com sucesso!', 'success');
                {% elif added == 'False' %}
                md.showNotification('top', 'center', 'Falha ao adicionar redação. Selecione um tema e um arquivo!', 'danger');
                {% endif %}
                {% if created == 'True' %}
                md.showNotification('top', 'center', 'Correção salva com sucesso!', 'success');
                {% elif created == 'False' %}
                md.showNotification('top', 'center', 'Falha ao iniciar correção.', 'danger');
                {% endif %}
                {% if updated == 'True' %}
                md.showNotification('top', 'center', 'Correção atualizada com sucesso!', 'success');
                {% elif updated == 'False' %}
                md.showNotification('top', 'center', 'Falha ao atualizar correção. Contate o administrador.', 'danger');
                {% endif %}
                {% if mailed == 'True' %}
                md.showNotification('top', 'center', 'Correção enviada com sucesso!', 'success');
                {% elif updated == 'False' %}
                md.showNotification('top', 'center', 'Falha ao enviar correção. Contate o administrador.', 'danger');
                {% endif %}
                
                $sidebar = $('.sidebar');
                
                $sidebar_img_container = $sidebar.find('.sidebar-background');
                
                $full_page = $('.full-page');
                
                $sidebar_responsive = $('body > .navbar-collapse');
                
                window_width = $(window).width();
                
                fixed_plugin_open = $('.sidebar .sidebar-wrapper .nav li.active a p').html();
                
                if (window_width > 767 && fixed_plugin_open == 'Dashboard') {
                    if ($('.fixed-plugin .dropdown').hasClass('show-dropdown')) {
                        $('.fixed-plugin .dropdown').addClass('open');
                    }
                    
                }
                
                $('.fixed-plugin a').click(function(event) {
                    // Alex if we click on switch, stop propagation of the event, so the dropdown will not be hide, otherwise we set the  section active
                    if ($(this).hasClass('switch-trigger')) {
                        if (event.stopPropagation) {
                            event.stopPropagation();
                        } else if (window.event) {
                            window.event.cancelBubble = true;
                        }
                    }
                });
                
                $('.fixed-plugin .active-color span').click(function() {
                    $full_page_background = $('.full-page-background');
                    
                    $(this).siblings().removeClass('active');
                    $(this).addClass('active');
                    
                    var new_color = $(this).data('color');
                    
                    if ($sidebar.length != 0) {
                        $sidebar.attr('data-color', new_color);
                    }
                    
                    if ($full_page.length != 0) {
                        $full_page.attr('filter-color', new_color);
                    }
                    
                    if ($sidebar_responsive.length != 0) {
                        $sidebar_responsive.attr('data-color', new_color);
                    }
                });
                
                $('.fixed-plugin .background-color .badge').click(function() {
                    $(this).siblings().removeClass('active');
                    $(this).addClass('active');
                    
                    var new_color = $(this).data('background-color');
                    
                    if ($sidebar.length != 0) {
                        $sidebar.attr('data-background-color', new_color);
                    }
                });
                
                $('.fixed-plugin .img-holder').click(function() {
                    $full_page_background = $('.full-page-background');
                    
                    $(this).parent('li').siblings().removeClass('active');
                    $(this).parent('li').addClass('active');
                    
                    
                    var new_image = $(this).find("img").attr('src');
                    
                    if ($sidebar_img_container.length != 0 && $('.switch-sidebar-image input:checked').length != 0) {
                        $sidebar_img_container.fadeOut('fast', function() {
                            $sidebar_img_container.css('background-image', 'url("' + new_image + '")');
                            $sidebar_img_container.fadeIn('fast');
                        });
                    }
                    
                    if ($full_page_background.length != 0 && $('.switch-sidebar-image input:checked').length != 0) {
                        var new_image_full_page = $('.fixed-plugin li.active .img-holder').find('img').data('src');
                        
                        $full_page_background.fadeOut('fast', function() {
                            $full_page_background.css('background-image', 'url("' + new_image_full_page + '")');
                            $full_page_background.fadeIn('fast');
                        });
                    }
                    
                    if ($('.switch-sidebar-image input:checked').length == 0) {
                        var new_image = $('.fixed-plugin li.active .img-holder').find("img").attr('src');
                        var new_image_full_page = $('.fixed-plugin li.active .img-holder').find('img').data('src');
                        
                        $sidebar_img_container.css('background-image', 'url("' + new_image + '")');
                        $full_page_background.css('background-image', 'url("' + new_image_full_page + '")');
                    }
                    
                    if ($sidebar_responsive.length != 0) {
                        $sidebar_responsive.css('background-image', 'url("' + new_image + '")');
                    }
                });
                
                $('.switch-sidebar-image input').change(function() {
                    $full_page_background = $('.full-page-background');
                    
                    $input = $(this);
                    
                    if ($input.is(':checked')) {
                        if ($sidebar_img_container.length != 0) {
                            $sidebar_img_container.fadeIn('fast');
                            $sidebar.attr('data-image', '#');
                        }
                        
                        if ($full_page_background.length != 0) {
                            $full_page_background.fadeIn('fast');
                            $full_page.attr('data-image', '#');
                        }
                        
                        background_image = true;
                    } else {
                        if ($sidebar_img_container.length != 0) {
                            $sidebar.removeAttr('data-image');
                            $sidebar_img_container.fadeOut('fast');
                        }
                        
                        if ($full_page_background.length != 0) {
                            $full_page.removeAttr('data-image', '#');
                            $full_page_background.fadeOut('fast');
                        }
                        
                        background_image = false;
                    }
                });
                
                $('.switch-sidebar-mini input').change(function() {
                    $body = $('body');
                    
                    $input = $(this);
                    
                    if (md.misc.sidebar_mini_active == true) {
                        $('body').removeClass('sidebar-mini');
                        md.misc.sidebar_mini_active = false;
                        
                        $('.sidebar .sidebar-wrapper, .main-panel').perfectScrollbar();
                        
                    } else {
                        
                        $('.sidebar .sidebar-wrapper, .main-panel').perfectScrollbar('destroy');
                        
                        setTimeout(function() {
                            $('body').addClass('sidebar-mini');
                            
                            md.misc.sidebar_mini_active = true;
                        }, 300);
                    }
                    
                    // we simulate the window Resize so the charts will get updated in realtime.
                    var simulateWindowResize = setInterval(function() {
                        window.dispatchEvent(new Event('resize'));
                    }, 180);
                    
                    // we stop the simulation of Window Resize after the animations are completed
                    setTimeout(function() {
                        clearInterval(simulateWindowResize);
                    }, 1000);
                    
                });
            });
        });
    </script>
    <script>
        $(document).ready(function() {
            // Javascript method's body can be found in assets/js/demos.js
            md.initDashboardPageCharts();
            
            md.initVectorMap();
            
        });
    </script>
    <script>
        $(document).ready(function() {
            $('#datatables').DataTable({
                'pagingType': 'full_numbers',
                'order': [[0, 'asc']],
                'lengthMenu': [
                [10, 25, 50, -1],
                [10, 25, 50, 'Todos']
                ],
                responsive: true,
                language: {
                    url: "//cdn.datatables.net/plug-ins/1.10.21/i18n/Portuguese-Brasil.json",
                }
            });
        });
    </script>
</body>

</html>
