{% load permissions %}

<!DOCTYPE html>
<html lang="en">
{% include "head.html" %}
<body class="">
    <div class="wrapper ">
        {% include "sidebar.html" %}
        <div class="main-panel">
            <!-- Navbar -->
            {% include "navbar.html" %}
            <!-- End Navbar -->
            <div class="content">
                <div class="content">
                    <div class="container-fluid">
                        
                        <div class="page-categories">
                            <ul class="nav nav-pills nav-pills-info nav-pills-icons" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" data-toggle="tab" href="#mentored" role="tablist">
                                        Mentorando
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#all" role="tablist">
                                        Todos os alunos
                                    </a>
                                </li>
                            </ul>
                            <div class="tab-content tab-space tab-subcategories">
                                <div class="tab-pane active" id="mentored">
                                    <div class="row">
                                        {% if mentored_students %}
                                        <div class="card card-plain ml-4 mr-4">
                                            <div class="card-header card-header-icon card-header-info">
                                                <div class="card-icon">
                                                    <i class="material-icons">person</i>
                                                </div>
                                                <h4 class="card-title mt-0"> Meus mentorandos </h4>
                                            </div>
                                            <div class="card-body">
                                                <div class="table-responsive">
                                                    <table class="table table-hover">
                                                        <thead class="" style="background-color: rgb(238, 238, 238) !important;">
                                                            <tr>
                                                                <th class="" style="background-color: rgb(238, 238, 238) !important;">
                                                                    Nome
                                                                </th>
                                                                <th class="" style="background-color: rgb(238, 238, 238) !important;">
                                                                    Mentor
                                                                </th>
                                                                <th class="" style="background-color: rgb(238, 238, 238) !important">
                                                                    Última redação
                                                                </th>
                                                                <th class="" style="background-color: rgb(238, 238, 238) !important">
                                                                            Ação
                                                                </th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            {% for student in mentored_students %}
                                                            {% if student.first_name %}
                                                            <tr>
                                                                <td> <a href="/access_as/{{student.id}}/"> {{student.first_name}} {{student.last_name}} </a></td>
                                                                <td> <a href="/access_as/{{student.id}}/"> {{student.mentoring.mentor.first_name}} {{student.mentoring.mentor.last_name}}</a> </td>
                                                                <td> <a href="/access_as/{{student.id}}/"> {{student.last_essay}} </a></td>
                                                                <td style="height: 75px;">
                                                                    <a class="btn btn-link btn-info" style="display: inline;" href="/api/access_as/{{student.id}}/">Acessar como</a>
                                                                    {% if student.mentoring %}
                                                                    <a class="btn btn-link btn-danger" style="display: inline;" href="/api/mentoring/finish/{{student.id}}/">Desativar mentoria</a>
                                                                    {% endif %}
                                                                </td>
                                                            </tr>
                                                            {% endif %}
                                                            {% endfor %}
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                        {% else %}
                                        <p class="ml-5"><i>Você não tem mentorias ativas no momento.</i></p>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="tab-pane" id="all">
                                    <div class="row">
                                        {% if students %}
                                        <div class="card card-plain ml-4 mr-4">
                                            <div class="card-header card-header-icon card-header-info">
                                                <div class="card-icon">
                                                    <i class="material-icons">person</i>
                                                </div>
                                                <h4 class="card-title mt-0"> Alunos registrados </h4>
                                            </div>
                                            <div class="card-body">
                                                <div class="table-responsive">
                                                    <table class="table table-hover">
                                                        <thead class="" style="background-color: rgb(238, 238, 238) !important;">
                                                            <tr>
                                                                <th class="" style="background-color: rgb(238, 238, 238) !important;">
                                                                    Nome
                                                                </th>
                                                                <th class="" style="background-color: rgb(238, 238, 238) !important;">
                                                                    Mentor
                                                                </th>
                                                                <th class="" style="background-color: rgb(238, 238, 238) !important">
                                                                    Última redação
                                                                </th>
                                                                <th class="" style="background-color: rgb(238, 238, 238) !important">
                                                                            Ação
                                                                </th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            {% for student in students %}
                                                            {% if student.first_name %}
                                                            <tr>
                                                                <td> <a> {{student.first_name}} {{student.last_name}} </a></td>
                                                                {% if student.mentoring %}
                                                                <td> <a> {{student.mentoring.mentor.first_name}} {{student.mentoring.mentor.last_name}}</a> </td>
                                                                {% else %}
                                                                <td> <a> - </a> </td>
                                                                {% endif %}
                                                                <td> <a> {{student.last_essay}} </a></td>
                                                                <td style="height: 75px;">
                                                                    <a class="btn btn-link btn-info" style="display: inline;" href="/api/access_as/{{student.id}}/">Acessar como</a>
                                                                    {% if not student.mentoring %}
                                                                    <a class="btn btn-link btn-success" style="display: inline;" href="/api/mentoring/start/{{student.id}}/">Mentorar</a>
                                                                    {% else %}
                                                                    <a class="btn btn-link btn-danger" style="display: inline;" href="/api/mentoring/finish/{{student.id}}/">Desativar mentoria</a>
                                                                    {% endif %}
                                                                </td>
                                                            </tr>
                                                            {% endif %}
                                                            {% endfor %}
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                        {% else %}
                                        <p class="ml-5"><i>Sem alunos registrados.</i></p>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% include "footer.html" %}
        </div>
    </div>
    <script src="/static/essay_manager/js/core/jquery.min.js"></script>
    <script src="/static/essay_manager/js/core/popper.min.js"></script>
    <script src="/static/essay_manager/js/core/bootstrap-material-design.min.js"></script>
    <script src="/static/essay_manager/js/plugins/perfect-scrollbar.jquery.min.js"></script>
    <script src="/static/essay_manager/js/material-dashboard.js?v=2.1.2" type="text/javascript"></script>
</body>

</html>
