{% extends "base/page.html" %}

{% block page %}
<div class="row">
	<div class="col-sm 12 col-md-6">
		<div class="card">
			<div class="card-header card-header-icon card-header-info">
				<div class="card-icon">
					<i class="material-icons">lock</i>
				</div>
				<h4 class="card-title">Alteração de senha</h4>
			</div>
			<div class="card-body has-info">
				<form method="post" action="/api/password/change/">
					{% csrf_token %}
					<div class="row">
						<div class="col-md-12">
							<div class="form-group">
								<label class="bmd-label-floating">Senha atual</label>
								<input type="password" name="password" class="form-control" value="">
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="form-group">
								<label class="bmd-label-floating">Nova senha</label>
								<input type="password" name="password-new" class="form-control" value="">
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="form-group">
								<label class="bmd-label-floating">Confirme a nova senha</label>
								<input type="password" name="password-new-confirmation" class="form-control" value="">
							</div>
						</div>
					</div>
					<button type="submit" class="btn btn-info pull-right">Salvar alterações</button>
				</form>
			</div>
		</div>
	</div>
</div>
{% endblock %}