{% extends "base/page.html" %}

{% block page %}
<script src="/static/essay_manager/js/plugins/bootstrap-selectpicker.js"></script>
<div class="row">
	<div class="col-xl-10 col-lg-12 col-md-12 col-sm-12">
		<div class="card">
			<div class="card-header card-header-icon card-header-info">
				<div class="card-icon">
					<i class="material-icons">perm_identity</i>
				</div>
				<h4 class="card-title">Perfil</h4>
			</div>
			<div class="card-body has-info">
				<form method="post" action="/api/profile/update/">
					{% csrf_token %}
					<div class="row">
						<div class="col-lg-6 col-md-6 col-sm-12">
							<div class="form-group">
								<label class="bmd-label-floating">Colégio / Curso</label>
								<input type="text" class="form-control" value="{% firstof profile.school not_specified %}" required>
							</div>
						</div>
						<div class="col-lg-6 col-md-6 col-sm-12">
							<div class="form-group">
								<label class="bmd-label-floating">E-mail</label>
								<input type="email" name="email" class="form-control" value="{% firstof profile.email not_specified %}" required>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-6 col-md-6 col-sm-12">
							<div class="form-group">
								<label class="bmd-label-floating">Nome</label>
								<input type="text" name="user__first_name" class="form-control" value="{% firstof user.first_name not_specified %}" required>
							</div>
						</div>
						<div class="col-lg-6 col-md-6 col-sm-12">
							<div class="form-group">
								<label class="bmd-label-floating">Sobrenome</label>
								<input type="text" name="user__last_name" class="form-control" value="{% firstof user.last_name not_specified %}" required>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-6 col-md-6 col-sm-12">
							<div class="form-group">
								<label class="bmd-label-floating">Faculdade (desejada)</label>
								<input type="text" name="faculty" class="form-control" value="{% firstof profile.faculty not_specified %}" required>
							</div>
						</div>
						<div class="col-lg-6 col-md-6 col-sm-12">
							<div class="form-group">
								<label class="bmd-label-floating">Curso (desejado)</label>
								<input type="text" name="course" class="form-control" value="{% firstof profile.course not_specified %}" required>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-6 col-md-6 col-sm-12">
							<div class="form-group bmd-form-group is-filled" style="width: 100%; margin-top: 5px;">
								<label class="bmd-label-floating" style="margin-top: 4px;">Meta de produção</label>
								<select name="target_production" id="target_production" class="selectpicker" style="width: 100% important; font-size: 14px important;" data-size="4" data-style="select-with-transition">
									<option value="2 por mês">2 por mês</option>
									<option value="1 por semana">1 por semana</option>
									<option value="2 por semana">2 por semana</option>
									<option value="3 por semana">3 por semana</option>
								</select>
							</div>
						</div>
						<div class="col-lg-6 col-md-6 col-sm-12">
							<div class="form-group bmd-form-group is-filled" style="width: 100%; margin-top: 5px;">
								<label class="bmd-label-floating" style="margin-top: 4px;">Meta de nota</label>
								<select name="target_grade" id="target_grade" class="selectpicker" style="width: 100% important; font-size: 14px important;" data-size="3" data-style="select-with-transition">
									<option value="800">800 - 900</option>
									<option value="900">900 - 1000</option>
									<option value="1000">1000</option>
								</select>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-4 col-md-4 col-sm-12">
							<div class="form-group">
								<label class="bmd-label-floating">Cidade</label>
								<input type="text" name="city" class="form-control" value="{% firstof profile.city not_specified %}" required>
							</div>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-12">
							<div class="form-group">
								<label class="bmd-label-floating">Estado</label>
								<input type="text" name="state" class="form-control" value="{% firstof profile.state not_specified %}" required>
							</div>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-12">
							<div class="form-group">
								<label class="bmd-label-floating">Telefone</label>
								<input type="text" name="phone" class="form-control" value="{% firstof profile.phone not_specified %}" required>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="form-group">
								<label class="bmd-label-floating">Endereço</label>
								<input type="text" name="address" class="form-control" value="{% firstof profile.address not_specified %}" required>
							</div>
						</div>
					</div>
					<a href='/password/change/' class="btn btn-info pull-left">Alterar senha</a>
					<button type="submit" class="btn btn-info pull-right">Salvar alterações</button>
				</form>
			</div>
		</div>
	</div>
</div>
{% endblock %}