{% extends "base/page.html" %}

{% block page %}
<div class="row">
  <div class="col-lg-4 col-md-6 col-sm-12">
    <div class="card card-stats">
      <div class="card-header card-header-{{uncorrected_essays_card_type}} card-header-icon">
        <div class="card-icon">
          <i class="material-icons">{{uncorrected_essays_icon}}</i>
        </div>
        <p class="card-category">Redações a corrigir</p>
        <h3 class="card-title">{{ uncorrected_essays_count }}</h3>
      </div>
      <div class="card-footer">
        <div class="stats">
          <i class="material-icons">{{ uncorrected_essays_icon }}</i> {{ uncorrected_essays_msg }}
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-md-6 col-sm-12">
    <div class="card card-stats">
      <div class="card-header card-header-{{active_corrections_card_type}} card-header-icon">
        <div class="card-icon">
          <i class="material-icons">{{active_corrections_icon}}</i>
        </div>
        <p class="card-category">Minhas correções ativas</p>
        <h3 class="card-title">{{ active_corrections_count }}</h3>
      </div>
      <div class="card-footer">
        <div class="stats">
          <i class="material-icons">{{ active_corrections_icon }}</i> {{ active_corrections_msg }}
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-md-12 col-sm-12">
    <div class="card card-stats">
      <div class="card-header card-header-success card-header-icon">
        <div class="card-icon">
          <i class="material-icons">content_copy</i>
        </div>
        <p class="card-category">Minhas correções concluídas</p>
        <h3 class="card-title">{{ done_corrections_count }}</h3>
      </div>
      <div class="card-footer">
        <div class="stats">
          Obrigado pelo empenho!
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header card-header-icon card-header-info">
        <div class="card-icon">
          <i class="material-icons">assignment</i>
        </div>
        <h4 class="card-title ">Últimas redações</h4>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-hover">
            <thead class="text-bold">
              <th> ID </th>
              <th> Aluno </th>
              <th> Banca </th>
              <th> Tema</th>
              <th> Data de Submissão</th>
            </thead>
            <tbody>
              {% for essay in uncorrected_essays %}
              <tr>
                <td><a href='essays/{{essay.id}}/'> {{ essay.id }} </a></td>
                <td><a href='essays/{{essay.id}}/'> {{ essay.user.first_name }}{{ " " }}{{ essay.user.last_name }} </a></td>
                <td><a href='essays/{{essay.id}}/'> {{ essay.theme.jury }} </a></td>
                <td><a href='essays/{{essay.id}}/'> {{ essay.theme }}</a></td>
                <td><a href='essays/{{essay.id}}/'> {{ essay.upload_date }} </a></td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
      <div class="card-footer">
        <div class="stats">
          {% if uncorrected_essays|length ==   0 %}
          Todas as redações foram corrigidas!
          {% else %}
          Mais velhas 5 redações ainda não corrigidas
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header card-header-icon card-header-info">
        <div class="card-icon">
          <i class="material-icons">content_copy</i>
        </div>
        <h4 class="card-title ">Últimas correções</h4>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-hover">
            <thead class="text-bold">
              <th> ID </th>
              <th> Status </th>
              <th> Aluno </th>
              <th> Tema</th>
              <th> Data de Correção</th>
              <th> Nota</th>
            </thead>
            <tbody>
              {% for correction in corrections %}
              <tr>
                <td><a href='essays/{{correction.essay.id}}/'> {{ correction.id }} </a></td>
                <td><a href='essays/{{correction.essay.id}}/'> {{ correction.status }} </a></td>
                <td><a href='essays/{{correction.essay.id}}/'> {{ correction.essay.user.first_name }}{{ " " }}{{ correction.essay.user.last_name }} </a></td>
                <td><a href='essays/{{correction.essay.id}}/'> {{ correction.essay.theme }}</a></td>
                <td><a href='essays/{{correction.essay.id}}/'> {{ correction.upload_date }} </a></td>
                <td class="text-bold"> {{ correction.essay.grade }} </a></td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
      <div class="card-footer">
        <div class="stats">
          {% if done_corrections|length ==   0 %}
          Sem correções cadastradas. Cadastre sua primeira na página de redações, acessível pelo menu lateral!
          {% else %}
          Suas últimas 5 correções
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}