<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <link rel="apple-touch-icon" sizes="76x76" href="/static/essay_manager/img/apple-icon.png">
  <link rel="icon" type="image/png" href="/static/essay_manager/img/favicon.png">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title>
    Registre-se | PPA Digital
  </title>
  <meta content='width=device-width, initial-scale=1.0, shrink-to-fit=no' name='viewport' />
  <!--     Fonts and icons     -->
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
  <!-- CSS Files -->
  <link href="/static/essay_manager/css/material-dashboard.css?v=2.1.2" rel="stylesheet" />
  <!-- CSS Just for demo purpose, don't include it in your project -->
  <link href="/static/essay_manager/demo/demo.css" rel="stylesheet" />
</head>

<body class="off-canvas-sidebar">
  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top text-white">
    <div class="container">
      <div class="navbar-wrapper">
        <a class="navbar-brand">PPA Digital</a>
      </div>
    </div>
  </nav>
  <!-- End Navbar -->
  <div class="wrapper wrapper-full-page">
    <div class="page-header login-page header-filter" filter-color="black" style="background-image: url('/static/essay_manager/img/register.jpg'); background-size: cover; background-position: top center;">
      <div class="container">
        <div class="container-fluid">
          <div class="col-md-8 col-12 mr-auto ml-auto">
            <div class="wizard-container">
              <div class="card card-wizard" data-color="blue" id="wizardProfile">
                <form method="post" action="/api/register/" onkeydown="return event.key != 'Enter';">
                  {% csrf_token %}
                  <div class="card-header text-center">
                    <h3 class="card-title">
                      Registre-se
                    </h3>
                    <h5 class="card-description">Queremos saber um pouco sobre você!</h5>
                  </div>
                  <div class="wizard-navigation">
                    <ul class="nav nav-pills">
                      <li class="nav-item">
                        <a class="nav-link active" href="#about" data-toggle="tab" role="tab">
                          Sobre
                        </a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#interests" data-toggle="tab" role="tab">
                          Interesses
                        </a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#profile" data-toggle="tab" role="tab">
                          Perfil
                        </a>
                      </li>
                    </ul>
                  </div>
                  <div class="card-body has-info">
                    <div class="tab-content">
                      <div class="tab-pane active" id="about">
                        <h5 class="info-text"> Preencha algumas informações básicas, por favor!</h5>
                        <div class="row justify-content-center">
                          <div class="col-lg-10 mt-3">
                            <div class="input-group form-control-lg">
                              <div class="input-group-prepend">
                                <span class="input-group-text">
                                  <i class="material-icons">face</i>
                                </span>
                              </div>
                              <div class="form-group">
                                <label for="i1" class="bmd-label-floating">Nome</label>
                                <input type="text" class="form-control" id="i1" name="first_name" required>
                              </div>
                            </div>
                            <div class="input-group form-control-lg">
                              <div class="input-group-prepend">
                                <span class="input-group-text">
                                  <i class="material-icons">record_voice_over</i>
                                </span>
                              </div>
                              <div class="form-group">
                                <label for="i2" class="bmd-label-floating">Sobrenome</label>
                                <input type="text" class="form-control" id="i2" name="last_name">
                              </div>
                            </div>
                            <div class="input-group form-control-lg">
                              <div class="input-group-prepend">
                                <span class="input-group-text">
                                  <i class="material-icons">email</i>
                                </span>
                              </div>
                              <div class="form-group">
                                <label for="i3" class="bmd-label-floating">Email</label>
                                <input type="email" class="form-control" id="i3" name="username" required>
                              </div>
                            </div>
                            <div class="input-group form-control-lg">
                              <div class="input-group-prepend">
                                <span class="input-group-text">
                                  <i class="material-icons">lock</i>
                                </span>
                              </div>
                              <div class="form-group">
                                <label for="i4" class="bmd-label-floating">Senha</label>
                                <input type="password" class="form-control" id="i4" name="password" required>
                              </div>
                            </div>
                            <div class="input-group form-control-lg">
                              <div class="input-group-prepend">
                                <span class="input-group-text">
                                  <i class="material-icons">lock</i>
                                </span>
                              </div>
                              <div class="form-group">
                                <label for="i5" class="bmd-label-floating">Confirmação de senha</label>
                                <input type="password" class="form-control" id="i5" name="password-confirmation" equalTo="#i4" required>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="tab-pane" id="interests">
                        <h5 class="info-text"> Quais provas tem interesse? </h5>
                        <div class="row justify-content-center">
                          <div class="col-lg-10">
                            <div class="row">
                              <div class="col-sm-4">
                                <div class="choice" data-toggle="wizard-checkbox">
                                  <input type="checkbox" name="jury-enem" value="ENEM">
                                  <div class="icon">
                                    <i class="material-icons">content_paste</i>
                                  </div>
                                  <h6>ENEM</h6>
                                </div>
                              </div>
                              <div class="col-sm-4">
                                <div class="choice" data-toggle="wizard-checkbox">
                                  <input type="checkbox" name="jury-cespe" value="CESPE">
                                  <div class="icon">
                                    <i class="material-icons">content_paste</i>
                                  </div>
                                  <h6>CESPE</h6>
                                </div>
                              </div>
                              <div class="col-sm-4">
                                <div class="choice" data-toggle="wizard-checkbox">
                                  <input type="checkbox" name="jury-vunesp" value="VUNESP">
                                  <div class="icon">
                                    <i class="material-icons">content_paste</i>
                                  </div>
                                  <h6>VUNESP</h6>
                                </div>
                                <select class="selectpicker" data-style="btn btn-primary btn-round" title="Single Select" data-size="7">
                                  <option disabled selected>Choose city</option>
                                  <option value="2">Foobar</option>
                                  <option value="3">Is great</option>
                                </select>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="tab-pane" id="profile">
                        <h5 class="info-text"> Só um pouco mais...</h5>
                        <div class="row justify-content-center">
                          <div class="col-lg-10 mt-3">
                            <div class="input-group form-control-lg">
                              <div class="input-group-prepend">
                                <span class="input-group-text">
                                </span>
                              </div>
                              <div class="form-group">
                                <label for="o1" class="bmd-label-floating">Curso (desejado)</label>
                                <input type="text" class="form-control" id="o1" name="course" required>
                              </div>
                            </div>
                            <div class="input-group form-control-lg">
                              <div class="input-group-prepend">
                                <span class="input-group-text">
                                </span>
                              </div>
                              <div class="form-group">
                                <label for="o2" class="bmd-label-floating">Faculdade (desejada)</label>
                                <input type="text" class="form-control" id="o2" name="faculty" required>
                              </div>
                            </div>
                            <div class="input-group form-control-lg">
                              <div class="input-group-prepend">
                                <span class="input-group-text">
                                </span>
                              </div>
                              <div class="form-group">
                                <label for="o3" class="bmd-label-floating">Cidade</label>
                                <input type="text" class="form-control" id="o3" name="city" required>
                              </div>
                            </div>
                            <div class="input-group form-control-lg">
                              <div class="input-group-prepend">
                                <span class="input-group-text">
                                </span>
                              </div>
                              <div class="form-group">
                                <label for="o4" class="bmd-label-floating">Estado</label>
                                <input type="text" class="form-control" id="o4" name="state" required>
                              </div>
                            </div>
                            <div class="input-group form-control-lg">
                              <div class="input-group-prepend">
                                <span class="input-group-text">
                                </span>
                              </div>
                              <div class="form-group">
                                <label for="o5" class="bmd-label-floating">Endereço (para certificados!) </label>
                                <input type="text" class="form-control" id="o5" name="addess" required>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="card-footer">
                    <div class="mr-auto">
                      <input type="button" class="btn btn-previous btn-fill btn-default btn-wd disabled" name="previous" value="Anterior">
                    </div>
                    <div class="ml-auto">
                      <input type="button" class="btn btn-next btn-fill btn-info btn-wd" name="next" value="Próximo">
                      <input type="submit" class="btn btn-finish btn-fill btn-success btn-wd" name="finish" value="Finalizar" style="display: none;">
                    </div>
                    <div class="clearfix"></div>
                  </div>
                </form>
              </div>
            </div>
            <!-- wizard container -->
          </div>
        </div>
      </div>
      <footer class="footer">
        <div class="container">
          <div class="copyright float-right">
            Copyright &copy; PPA Digital
            <script>
              document.write(new Date().getFullYear())
            </script>
          </div>
        </div>
      </footer>
    </div>
  </div>
  <!--   Core JS Files   -->
  <script src="/static/essay_manager/js/core/jquery.min.js"></script>
  <script src="/static/essay_manager/js/core/popper.min.js"></script>
  <script src="/static/essay_manager/js/core/bootstrap-material-design.min.js"></script>
  <script src="/static/essay_manager/js/plugins/perfect-scrollbar.jquery.min.js"></script>
  <!-- Forms Validations Plugin -->
  <script src="/static/essay_manager/js/plugins/jquery.validate.min.js"></script>
  <!-- Plugin for the Wizard, full documentation here: https://github.com/VinceG/twitter-bootstrap-wizard -->
  <script src="/static/essay_manager/js/plugins/jquery.bootstrap-wizard.js"></script>
  <!-- Plugin for Fileupload, full documentation here: http://www.jasny.net/bootstrap/javascript/#fileinput -->
  <script src="/static/essay_manager/js/plugins/jasny-bootstrap.min.js"></script>
  <!--  Google Maps Plugin    -->
  <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>
  <!-- Chartist JS -->
  <script src="/static/essay_manager/js/plugins/chartist.min.js"></script>
  <!--  Notifications Plugin    -->
  <script src="/static/essay_manager/js/plugins/bootstrap-notify.js"></script>
  <!-- Control Center for Material Dashboard: parallax effects, scripts for the example pages etc -->
  <script src="/static/essay_manager/js/material-dashboard.js?v=2.1.2" type="text/javascript"></script>
  <!-- Material Dashboard DEMO methods, don't include it in your project! -->
  <script src="/static/essay_manager/demo/demo.js"></script>
  <script>
    $(document).ready(function() {
      $().ready(function() {
        $sidebar = $('.sidebar');

        $sidebar_img_container = $sidebar.find('.sidebar-background');

        $full_page = $('.full-page');

        $sidebar_responsive = $('body > .navbar-collapse');

        window_width = $(window).width();

        fixed_plugin_open = $('.sidebar .sidebar-wrapper .nav li.active a p').html();

        if (window_width > 767 && fixed_plugin_open == 'Dashboard') {
          if ($('.fixed-plugin .dropdown').hasClass('show-dropdown')) {
            $('.fixed-plugin .dropdown').addClass('open');
          }

        }

        $('.fixed-plugin a').click(function(event) {
          // Alex if we click on switch, stop propagation of the event, so the dropdown will not be hide, otherwise we set the  section active
          if ($(this).hasClass('switch-trigger')) {
            if (event.stopPropagation) {
              event.stopPropagation();
            } else if (window.event) {
              window.event.cancelBubble = true;
            }
          }
        });

        $('.fixed-plugin .active-color span').click(function() {
          $full_page_background = $('.full-page-background');

          $(this).siblings().removeClass('active');
          $(this).addClass('active');

          var new_color = $(this).data('color');

          if ($sidebar.length != 0) {
            $sidebar.attr('data-color', new_color);
          }

          if ($full_page.length != 0) {
            $full_page.attr('filter-color', new_color);
          }

          if ($sidebar_responsive.length != 0) {
            $sidebar_responsive.attr('data-color', new_color);
          }
        });

        $('.fixed-plugin .background-color .badge').click(function() {
          $(this).siblings().removeClass('active');
          $(this).addClass('active');

          var new_color = $(this).data('background-color');

          if ($sidebar.length != 0) {
            $sidebar.attr('data-background-color', new_color);
          }
        });

        $('.fixed-plugin .img-holder').click(function() {
          $full_page_background = $('.full-page-background');

          $(this).parent('li').siblings().removeClass('active');
          $(this).parent('li').addClass('active');


          var new_image = $(this).find("img").attr('src');

          if ($sidebar_img_container.length != 0 && $('.switch-sidebar-image input:checked').length != 0) {
            $sidebar_img_container.fadeOut('fast', function() {
              $sidebar_img_container.css('background-image', 'url("' + new_image + '")');
              $sidebar_img_container.fadeIn('fast');
            });
          }

          if ($full_page_background.length != 0 && $('.switch-sidebar-image input:checked').length != 0) {
            var new_image_full_page = $('.fixed-plugin li.active .img-holder').find('img').data('src');

            $full_page_background.fadeOut('fast', function() {
              $full_page_background.css('background-image', 'url("' + new_image_full_page + '")');
              $full_page_background.fadeIn('fast');
            });
          }

          if ($('.switch-sidebar-image input:checked').length == 0) {
            var new_image = $('.fixed-plugin li.active .img-holder').find("img").attr('src');
            var new_image_full_page = $('.fixed-plugin li.active .img-holder').find('img').data('src');

            $sidebar_img_container.css('background-image', 'url("' + new_image + '")');
            $full_page_background.css('background-image', 'url("' + new_image_full_page + '")');
          }

          if ($sidebar_responsive.length != 0) {
            $sidebar_responsive.css('background-image', 'url("' + new_image + '")');
          }
        });

        $('.switch-sidebar-image input').change(function() {
          $full_page_background = $('.full-page-background');

          $input = $(this);

          if ($input.is(':checked')) {
            if ($sidebar_img_container.length != 0) {
              $sidebar_img_container.fadeIn('fast');
              $sidebar.attr('data-image', '#');
            }

            if ($full_page_background.length != 0) {
              $full_page_background.fadeIn('fast');
              $full_page.attr('data-image', '#');
            }

            background_image = true;
          } else {
            if ($sidebar_img_container.length != 0) {
              $sidebar.removeAttr('data-image');
              $sidebar_img_container.fadeOut('fast');
            }

            if ($full_page_background.length != 0) {
              $full_page.removeAttr('data-image', '#');
              $full_page_background.fadeOut('fast');
            }

            background_image = false;
          }
        });

        $('.switch-sidebar-mini input').change(function() {
          $body = $('body');

          $input = $(this);

          if (md.misc.sidebar_mini_active == true) {
            $('body').removeClass('sidebar-mini');
            md.misc.sidebar_mini_active = false;

            $('.sidebar .sidebar-wrapper, .main-panel').perfectScrollbar();

          } else {

            $('.sidebar .sidebar-wrapper, .main-panel').perfectScrollbar('destroy');

            setTimeout(function() {
              $('body').addClass('sidebar-mini');

              md.misc.sidebar_mini_active = true;
            }, 300);
          }

          // we simulate the window Resize so the charts will get updated in realtime.
          var simulateWindowResize = setInterval(function() {
            window.dispatchEvent(new Event('resize'));
          }, 180);

          // we stop the simulation of Window Resize after the animations are completed
          setTimeout(function() {
            clearInterval(simulateWindowResize);
          }, 1000);

        });
      });
    });
  </script>
  <script>
    $(document).ready(function() {
      // Initialise the wizard
      demo.initMaterialWizard();
      setTimeout(function() {
        $('.card.card-wizard').addClass('active');
      }, 600);
    });
  </script>
</body>

</html>