<!DOCTYPE html>
<head>
  <meta charset="utf-8" />
    <link rel="apple-touch-icon" sizes="76x76" href="/static/bauth/img/apple-icon.png">
    <link rel="icon" type="image/png" href="/static/bauth/img/favicon.png">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>
      TPS | PPA Digital
    </title>
    <meta content='width=device-width, initial-scale=1.0, shrink-to-fit=no' name='viewport' />
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
    <link href="/static/bauth/css/material-dashboard.css?v=2.1.2" rel="stylesheet" />
  <style>
    html { 
      background: url(/static/essay_manager/img/login.jpg) no-repeat center center fixed; 
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
    }

    body {
      background: transparent;
    }

  </style>
</head>

<body class="sidebar-mini">
  <div class="container">
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top text-white">
      <div class="container">
        <div class="navbar-wrapper">
          <a class="navbar-brand" style="color: white;">PPA Digital</a>
        </div>
      </div>
    </nav>
  </div>
  <div class="">
    <div class="main-panel">
      <div class="content">
        <div class="container-fluid">
          <div class="row">
            <div id="col-size" class="col-lg-8 col-md-10 ml-auto mr-auto">
              <div class="card">
                <div class="card-header card-header-tabs card-header-info">
                  <div class="container">
                    <div class="row">
                      <div class="col-sm">
                        <h3 style="text-align: left; vertical-align: middle; margin-top: 0px !important;">{{subject_desc}} </h3>
                      </div>
                      <div class="col-sm">
                        <p style="text-align: right; vertical-align: middle; margin-top: 5px !important;">Semana {{tps.week}}</p>
                      </div>
                    </div>
                  </div>
                  
                  <div class="nav-tabs-navigation">
                    <div class="nav-tabs-wrapper">
                      <ul class="nav nav-tabs" data-tabs="tabs">
                        <li id="nav-1" class="nav-item">
                          <a class="nav-link active" href="#questions" id='questions-btn' data-toggle="tab">
                            <i class="material-icons">content_paste</i> Caderno de Questões
                            <div class="ripple-container"></div>
                          </a>
                        </li>
                        <li id="nav-2" class="nav-item" >
                          <a class="nav-link" href="#answers" id='answers-btn' data-toggle="tab">
                            <i class="material-icons">code</i> Minhas Respostas
                            <div class="ripple-container"></div>
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="card-body">
                  <div class="tab-content">
                    <div class="tab-pane active" id="questions">
                      <a class="btn btn-outline-info pull-right" href="/{{tps.questions}}"> Baixar questões</a>
									  	<i><img id="src" src="/{{tps.questions}}" width="100%"/></i>
                    </div>
                    <div class="tab-pane" id="answers">
                      <form id="login-form" class="form" method="post" action="/tps/answer/{{id}}/">
                        {% if tps.start_date > now %}
                        <h4 style="text-align: center; margin-top: 10px; width: 480px;"> Respostas ainda não liberadas! </h4>
                        <p style="text-align: center; margin-top: 10px; width: 480px;"> Serão liberadas dia {{ tps.start_date }} </p>
                        {% else %}
                        {% csrf_token %}
                        <span class="bmd-form-group" style="margin-left: 1px;">
                          <div class="input-group has-info">
                            <div class="input-group-prepend">
                              <span class="input-group-text">
                                <i class="material-icons">face</i>
                              </span>
                            </div>
                            <input type="text" class="form-control" placeholder="Nome" name="name" maxlength="150" required="">
                          </div>
                        </span>
                        <span class="bmd-form-group" style="margin-left: 1px;">
                          <div class="input-group has-info">
                            <div class="input-group-prepend">
                              <span class="input-group-text">
                                <i class="material-icons">mail</i>
                              </span>
                            </div>
                            <input type="email" class="form-control" placeholder="E-mail" name="email" maxlength="150" required="">
                          </div>
                        </span>
                        <div class='card-body'>
                        {% for question in questions %}
                          <span class="bmd-form-group" >
                            <div class="input-group has-info" style="margin-top: 30px;">
                              <div class="input-group-prepend">
                                <span class="input-group-text">
                                  Questão {{question.number}}
                                </span>
                              </div>
                              <div class="row" style="margin-left: 31px;">
                                <div class="col-sm form-check">
                                  <label class="form-check-label">
                                    <input class="form-check-input" value="A" type="radio" name="q{{question.number}}"> A
                                    <span class="circle">
                                      <span class="check"></span>
                                    </span>
                                  </label>
                                </div>
                                <div class="col-sm form-check">
                                  <label class="form-check-label">
                                    <input class="form-check-input" value="B" type="radio" name="q{{question.number}}"> B
                                    <span class="circle">
                                      <span class="check"></span>
                                    </span>
                                  </label>
                                </div>
                                <div class="col-sm form-check">
                                  <label class="form-check-label">
                                    <input class="form-check-input" value="C" type="radio" name="q{{question.number}}"> C
                                    <span class="circle">
                                      <span class="check"></span>
                                    </span>
                                  </label>
                                </div>
                                <div class="col-sm form-check">
                                  <label class="form-check-label">
                                    <input class="form-check-input" value="D" type="radio" name="q{{question.number}}"> D
                                    <span class="circle">
                                      <span class="check"></span>
                                    </span>
                                  </label>
                                </div>
                                <div class="col-sm form-check">
                                  <label class="form-check-label">
                                    <input class="form-check-input" value="E" type="radio" name="q{{question.number}}"> E
                                    <span class="circle">
                                      <span class="check"></span>
                                    </span>
                                  </label>
                                </div>
                              </div>
                            </div>
                          </span>
                        {% endfor %}
                        </div>
                        <div class="card-footer justify-content-center">
                          <input type="submit" class="btn btn-info btn-link btn-lg" value="ENVIAR">
                        </div>
                        {% endif %}
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--   Core JS Files   -->
  <script src="/static/essay_manager/js/core/jquery.min.js"></script>
  <script src="/static/essay_manager/js/core/popper.min.js"></script>
  <script src="/static/essay_manager/js/core/bootstrap-material-design.min.js"></script>
  <script>
    $(document).ready(function() {
      var colSize = document.getElementById('col-size');
      var nav1 = document.getElementById('nav-1');
      var nav2 = document.getElementById('nav-2');
      var nav3 = document.getElementById('nav-3');
      document.getElementById('questions-btn').onclick = function() {
        colSize.classList.add('col-lg-8');
        colSize.classList.add('col-md-10');
      }
      document.getElementById('answers-btn').onclick = function() {
        colSize.classList.remove('col-lg-8');
        colSize.classList.remove('col-md-10');
      }
    });
  </script>
</body>

</html>