{% extends "base/page.html" %}

{% block page %}
<h4>Dados gerais</h4>
<div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="card card-stats">
            <div class="card-header card-header-success card-header-icon">
                <div class="card-icon">
                    <i class="material-icons">schedule</i>
                </div>
                <p class="card-category">Tempo médio de correção</p>
                <h3 class="card-title">{{ average_correction_time }}</h3>
            </div>
            <div class="card-footer">
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="card card-stats">
            <div class="card-header card-header-success card-header-icon">
                <div class="card-icon">
                    <i class="material-icons">equalizer</i>
                </div>
                <p class="card-category">Nota média</p>
                <h3 class="card-title">{{ average_grade }}</h3>
            </div>
            <div class="card-footer">
            </div>
        </div>
    </div>
</div>
<h4>Produtividade</h4>
<div class="page-categories">
    <ul class="nav nav-pills nav-pills-success nav-pills-icons" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#week" role="tablist">
                Últimos 7 dias
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#month" role="tablist">
                Últimos 30 dias
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#months" role="tablist">
                Mês a mês
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#all" role="tablist">
                Total
            </a>
        </li>
    </ul>
    <div class="tab-content tab-space tab-subcategories">
        <div class="tab-pane active" id="week">
            <div class="row">
                <div class="col-md-12">
                    <div class="card card-plain mt-0">
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead class="text-bold">
                                        <th> Corretor </th>
                                        <th> Nota média </th>
                                        <th> Correções PPA </th>
                                        <th> Correções Solidárias </th>
                                    </thead>
                                    <tbody>
                                        {% for user in monitors %}
                                        <tr>
                                            <td>{{ user.first_name }}{{ " " }}{{ user.last_name }} </a></td>
                                            <td>{{ user.week_data.average_grade }} </a></td>
                                            <td>{{ user.week_data.paid_corrections }}</a></td>
                                            <td>{{ user.week_data.free_corrections }}</a></td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane" id="month">
            <div class="row">
                <div class="col-md-12">
                    <div class="card card-plain mt-0">
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead class="text-bold">
                                        <th> Corretor </th>
                                        <th> Nota média </th>
                                        <th> Correções PPA </th>
                                        <th> Correções Solidárias </th>
                                    </thead>
                                    <tbody>
                                        {% for user in monitors %}
                                        <tr>
                                            <td>{{ user.first_name }}{{ " " }}{{ user.last_name }} </a></td>
                                            <td>{{ user.month_data.average_grade }} </a></td>
                                            <td>{{ user.month_data.paid_corrections }}</a></td>
                                            <td>{{ user.month_data.free_corrections }}</a></td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane" id="months">
            {% for user in monitors %}
            <h5>{{ user.first_name }}{{ " " }}{{ user.last_name }} </h5>
            <div class="row">
                <div class="col-md-12">
                    <div class="card card-plain mt-0 ml-3">
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead class="text-bold">
                                        <th> Mês </th>
                                        <th> Nota média </th>
                                        <th> Correções PPA </th>
                                        <th> Correções Solidárias </th>
                                    </thead>
                                    <tbody>
                                        {% for month_data in user.months %}
                                        <tr>
                                            <td>{{ month_data.month }}</a></td>
                                            <td>{{ month_data.average_grade }} </a></td>
                                            <td>{{ month_data.paid_corrections }}</a></td>
                                            <td>{{ month_data.free_corrections }}</a></td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="tab-pane" id="all">
            <div class="row">
                <div class="col-md-12">
                    <div class="card card-plain mt-0">
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead class="text-bold">
                                        <th> Corretor </th>
                                        <th> Nota média </th>
                                        <th> Tempo total de correção </th>
                                        <th> Tempo médio de correção </th>
                                        <th> # Correções </th>
                                    </thead>
                                    <tbody>
                                        {% for user in monitors %}
                                        <tr>
                                            <td>{{ user.first_name }}{{ " " }}{{ user.last_name }} </a></td>
                                            <td>{{ user.alltime_data.average_grade }} </a></td>
                                            <td>{{ user.alltime_data.total_correction_time_str }} </a></td>
                                            <td>{{ user.alltime_data.average_correction_time_str }} </a></td>
                                            <td>{{ user.alltime_data.total_corrections }}</a></td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}