{% load permissions %}

<!DOCTYPE html>
<html lang="en">
{% include "head.html" %}
<body class="">
    <div class="wrapper ">
        {% include "sidebar.html" %}
        <div class="main-panel">
            {% include "navbar.html" %}
            <div class="content">
                <div class="content">
                    <div class="container-fluid">
                        <h4>Produtividade</h4>
						<div class="page-categories">
							<ul class="nav nav-pills nav-pills-success nav-pills-icons" role="tablist">
								<li class="nav-item">
									<a class="nav-link active" data-toggle="tab" href="#week" role="tablist">
										Últimos 7 dias
									</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" data-toggle="tab" href="#biweek" role="tablist">
										Últimos 14 dias
									</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" data-toggle="tab" href="#month" role="tablist">
										Últimos 30 dias
									</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" data-toggle="tab" href="#all" role="tablist">
										Total
									</a>
								</li>
                            </ul>
                            
							<div class="tab-content tab-space tab-subcategories">
								<div class="tab-pane active" id="week">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="card card-plain mt-0">
                                                <div class="card-body">
                                                    <div class="table-responsive">
                                                        <table class="table">
                                                            <thead class="text-bold">
                                                                <th> Aluno </th>
                                                                <th> Redações </th>
                                                                <th> Nota média </th>
                                                                <th> </th>
                                                            </thead>
                                                            <tbody>
                                                                {% for student_data in week_data %}
                                                                <tr>
                                                                    <td>{{ student_data.student.first_name }}{{ " " }}{{ student_data.student.last_name }} </td>
                                                                    <td>{{ student_data.count }} </td>
                                                                    <td>{{ student_data.average_grade }}</td>
                                                                    <td><a class="btn btn-link btn-info" style="display: inline;" href="/management/students/{{student_data.student.id}}/">VER PERFIL</a></td>
                                                                </tr>
                                                                {% endfor %}
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
								</div>
								<div class="tab-pane" id="biweek">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="card card-plain mt-0">
                                                <div class="card-body">
                                                    <div class="table-responsive">
                                                        <table class="table">
                                                            <thead class="text-bold">
                                                                <th> Aluno </th>
                                                                <th> Redações </th>
                                                                <th> Nota média </th>
                                                                <th> </th>
                                                            </thead>
                                                            <tbody>
                                                                {% for student_data in biweek_data %}
                                                                <tr>
                                                                    <td>{{ student_data.student.first_name }}{{ " " }}{{ student_data.student.last_name }} </td>
                                                                    <td>{{ student_data.count }} </td>
                                                                    <td>{{ student_data.average_grade }}</td>
                                                                    <td><a class="btn btn-link btn-info" style="display: inline;" href="/management/students/{{student_data.student.id}}/">VER PERFIL</a></td>
                                                                </tr>
                                                                {% endfor %}
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
								</div>
								<div class="tab-pane" id="month">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="card card-plain mt-0">
                                                <div class="card-body">
                                                    <div class="table-responsive">
                                                        <table class="table">
                                                            <thead class="text-bold">
                                                                <th> Aluno </th>
                                                                <th> Redações </th>
                                                                <th> Nota média </th>
                                                                <th> </th>
                                                            </thead>
                                                            <tbody>
                                                                {% for student_data in month_data %}
                                                                <tr>
                                                                    <td>{{ student_data.student.first_name }}{{ " " }}{{ student_data.student.last_name }} </td>
                                                                    <td>{{ student_data.count }} </td>
                                                                    <td>{{ student_data.average_grade }}</td>
                                                                    <td><a class="btn btn-link btn-info" style="display: inline;" href="/management/students/{{student_data.student.id}}/">VER PERFIL</a></td>
                                                                </tr>
                                                                {% endfor %}
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
								</div>
								<div class="tab-pane" id="all">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="card card-plain mt-0">
                                                <div class="card-body">
                                                    <div class="table-responsive">
                                                        <table class="table">
                                                            <thead class="text-bold">
                                                                <th> Aluno </th>
                                                                <th> Redações </th>
                                                                <th> Nota média </th>
                                                                <th> </th>
                                                            </thead>
                                                            <tbody>
                                                                {% for student_data in all_data %}
                                                                <tr>
                                                                    <td>{{ student_data.student.first_name }}{{ " " }}{{ student_data.student.last_name }} </td>
                                                                    <td>{{ student_data.count }} </td>
                                                                    <td>{{ student_data.average_grade }}</td>
                                                                    <td><a class="btn btn-link btn-info" style="display: inline;" href="/management/students/{{student_data.student.id}}/">VER PERFIL</a></td>
                                                                </tr>
                                                                {% endfor %}
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
								</div>
							</div>
						</div>
                    </div>
                </div>
            </div>
            {% include "footer.html" %}
        </div>
    </div>
    <!--   Core JS Files   -->
    <script src="/static/essay_manager/js/core/jquery.min.js"></script>
    <script src="/static/essay_manager/js/core/popper.min.js"></script>
    <script src="/static/essay_manager/js/core/bootstrap-material-design.min.js"></script>
    <script src="/static/essay_manager/js/plugins/perfect-scrollbar.jquery.min.js"></script>
    <script src="/static/essay_manager/js/material-dashboard.js?v=2.1.2" type="text/javascript"></script>
</body>

</html>
