{% load permissions %}

<script>
    function updateNotifications(){
        var xhr = new XMLHttpRequest(); 
        xhr.open("GET", "/api/notifications/read/all");  
        xhr.send();
    }
</script>
<nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
    <div class="container-fluid">
        <div class="navbar-wrapper">
            <div class="navbar-minimize">
                <button id="minimizeSidebar" class="btn btn-just-icon btn-white btn-fab btn-round">
                    <i class="material-icons text_align-center visible-on-sidebar-regular">more_vert</i>
                    <i class="material-icons design_bullet-list-67 visible-on-sidebar-mini">view_list</i>
                </button>
            </div>
            <a id="page-title" class="navbar-brand" href="javascript:;">{{ title }}</a>
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
            <span class="sr-only">Toggle navigation</span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end">
            <form class="navbar-form">
                <div class="input-group no-border"> </div>
            </form>
            <ul class="navbar-nav">
                {% if user.obj|has_permission:'superuser' and user.obj|has_permission:'student' %}
                <li class="nav-item dropdown">
                    <a class="nav-link" href="/api/profile/access_level/monitor/" style="color: inherit;" target="_self">
                        <i class="material-icons">cached</i>
                        <p class="d-lg-none d-md-block" style="color: white">
                            Virar monitor
                        </p>
                    </a>
                </li>
                {% endif %}
                {% if user.obj|has_permission:'superuser' and user.obj|has_permission:'monitor' %}
                <li class="nav-item dropdown">
                    <a class="nav-link" href="/api/profile/access_level/student/" style="color: inherit;" target="_self">
                        <i class="material-icons">cached</i>
                        <p class="d-lg-none d-md-block" style="color: white">
                            Virar aluno
                        </p>
                    </a>
                </li>
                {% endif %}
                {% if user.obj|has_permission:'superuser' %}
                <li class="nav-item dropdown">
                    <a class="nav-link" href="/admin/" style="color: inherit;" target="_self">
                        <i class="material-icons">account_balance</i>
                        <p class="d-lg-none d-md-block" style="color: white">
                            Admin
                        </p>
                    </a>
                </li>
                {% endif %}
                <!-- <li class="nav-item dropdown">
                    <a class="nav-link" href="/" style="color: inherit;" target="_self">
                        <i class="material-icons">fingerprint</i>
                        <p class="d-lg-none d-md-block">
                            Alterar senha
                        </p>
                    </a>
                </li> -->
                <li class="nav-item dropdown">
                    <a onclick="updateNotifications();" class="nav-link" style="cursor: pointer;" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="material-icons">notifications</i>
                        {% if user.new_notifications %}
                        <span class="notification">{{user.new_notifications}}</span>
                        {% endif %}
                        <p class="d-lg-none d-md-block" style="color: white">
                            Notificações
                        </p>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                        {% if user.notifications %}
                        {% for notification in user.notifications %}
                    <a class="dropdown-item" href="{% if notification.href%}{{notification.href}}{% endif %}" onclick="return {% if notification.href %}true{% else %}false{% endif %}">{% if notification.received == False %}<small>NOVO</small>&nbsp;&nbsp;{% endif %}{{notification.title}}</a>
                        {% endfor %}
                        {% else %}
                        <a class="dropdown-item" href="">Sem notificações!</a>
                        {% endif %}
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" href="/api/logout/" style="color: inherit;" target="_self">
                        <i class="material-icons">input</i>
                        <p class="d-lg-none d-md-block" style="color: white">
                            Sair
                        </p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>